FORMAT: 1A
HOST: https://api.birdeye.com/resources

# BirdEye
The BirdEye API is built on HTTP. Our API is RESTful and it:

* Uses predictable, resource-oriented URLs.
* Uses built-in HTTP capabilities for passing parameters and authentication.
* Responds with standard HTTP response codes to indicate errors.
* Returns JSON.



# Group Base
All API URLs referenced in this documentation start with the following base part

## Base URL [https://api.birdeye.com/resources]

## 1023 [/1023]

+ Model (application/json)

        {
            errorCode: 1023,
            errorMessage: "No email addresses specified"
        }

## 1052 [/1052]

+ Model (application/json)

        {
            errorCode: 1052,
            errorMessage: "User email id cannot be blank"
        }

## 1150 [/1150]

+ Model (application/json)

        {
            errorCode: 1150,
            errorMessage: "Business already associated with this reseller"
        }

## 1151 [/1151]

+ Model (application/json)

        {
            errorCode: 1151,
            errorMessage: "Business already associated with another reseller"
        }

## 1045 [/1045]

+ Model (application/json)

        {
            errorCode: 1045,
            errorMessage: "Business name cannot be blank"
        }

## 1046 [/1046]

+ Model (application/json)

        {
            errorCode: 1046,
            errorMessage: "Business name cannot be more than 250 characters"
        }

## 1047 [/1047]

+ Model (application/json)

        {
            errorCode: 1047,
            errorMessage: "Business name cannot be less than 3 characters"
        }

## 1094 [/1094]

+ Model (application/json)

        {
            errorCode: 1094,
            errorMessage: "Postal code cannot be blank."
        }

## 1030 [/1030]

+ Model (application/json)

        {
            errorCode: 1030,
            errorMessage: "URL cannot be blank"
        }

## 1031 [/1031]

+ Model (application/json)

        {
            errorCode: 1031,
            errorMessage: "Source id cannot be blank"
        }

## 1032 [/1032]

+ Model (application/json)

        {
            errorCode: 1032,
            errorMessage: "Invalid source id"
        }

## 1039 [/1039]

+ Model (application/json)

        {
            errorCode: 1039,
            errorMessage: "Invalid business aggregation id"
        }

## 1067 [/1067]

+ Model (application/json)

        {
            errorCode: 1067,
            errorMessage: "URL is invalid"
        }

## 1075 [/1075]

+ Model (application/json)

        {
            errorCode: 1075,
            errorMessage: "Business location zip cannot be more than 6 numbers"
        }

## 1025 [/1025]

+ Model (application/json)

        {
            errorCode: 1025,
            errorMessage: "Invalid business type"
        }

## 1161 [/1161]

+ Model (application/json)

        {
            errorCode: 1161,
            errorMessage: "Invalid API key"
        }


## 1167 [/1167]

+ Model (application/json)

        {
            errorCode: 1167,
            errorMessage: "API key is missing"
        }

## 89 [/89]
+ Model (application/json)

        {
            errorCode: 89,
            errorMessage: "Rate limit exceeded"
        }

## 1033 [/1033]

+ Model (application/json)

        {
            errorCode: 1033,
            errorMessage: "You are not authorized to perform this action"
        }

## 1175 [/1175]

+ Model (application/json)

        {
            errorCode: 1175,
            errorMessage: "No business found with the given id"
        }

##  1010 [/1010]

+ Model (application/json)

        {
            errorCode: 1010,
            errorMessage: "No user found with the given id"
        }

## 1076 [/1076]

+ Model (application/json)

        {
            errorCode: 1176,
            errorMessage: "Business info cannot be blank"
        }

## 1162 [/1162]

+ Model (application/json)

        {
            errorCode: 1162,
            errorMessage: "Either search string or location or both should be specified"
        }

## 1163 [/1163]

+ Model (application/json)

        {
            errorCode: 1163,
            errorMessage: "Invalid start index value"
        }

## 1164 [/1164]

+ Model (application/json)

        {
            errorCode: 1164,
            errorMessage: "Invalid result count value"
        }

## 1011 [/1011]

+ Model (application/json)

        {
            errorCode: 1011,
            errorMessage: "Business id is invalid"
        }

## 1048 [/1048]

+ Model (application/json)

        {
            errorCode: 1048,
            errorMessage: "Business email id cannot be blank."
        }

## 1049 [/1049]

+ Model (application/json)

        {
            errorCode: 1049,
            errorMessage: "Business email id is invalid."
        }

## 1050 [/1050]

+ Model (application/json)

        {
            errorCode: 1050,
            errorMessage: "Business email id cannot be more than 40 characters."
        }

## 1055 [/1055]

+ Model (application/json)

        {
            errorCode: 1055,
            errorMessage: "Not a valid US phone number."
        }

## 1056 [/1056]

+ Model (application/json)

        {
            errorCode: 1056,
            errorMessage: "Not a valid US fax number."
        }


## 1069 [/1069]

+ Model (application/json)

        {
            errorCode: 1069,
            errorMessage: "Business description cannot be more than 4000 characters."
        }

## 1070 [/1070]

+ Model (application/json)

        {
            errorCode: 1070,
            errorMessage: "Business keywords cannot be more than 1000 characters."
        }

## 1089 [/1089]

+ Model (application/json)

        {
            errorCode: 1089,
            errorMessage: "Customer id is invalid."
        }

## 1091 [/1091]

+ Model (application/json)

        {
            errorCode: 1091,
            errorMessage: "User id not authorized to view this customer."
        }

## 1190 [/1190]

+ Model (application/json)

        {
            errorCode: 1190,
            errorMessage: "Invalid category"
        }

## 1184 [/1184]

+ Model (application/json)

        {
            errorCode: 1184,
            errorMessage: "Status change is not allowed"
        }

## 1191 [/1191]

+ Model (application/json)

        {
            errorCode: 1191,
            errorMessage: "Invalid status."
        }

## 1174 [/1174]

+ Model (application/json)

        {
            errorCode: 1174,
            errorMessage: "Reseller can't be removed as it has child accounts."
        }

## 1160 [/1160]

+ Model (application/json)

        {
            errorCode: 1160,
            errorMessage: "User is already associated with business."
        }

## 1053 [/1053]

+ Model (application/json)

        {
            errorCode: 1053,
            errorMessage: "User email id is invalid"
        }

## 1054 [/1054]

+ Model (application/json)

        {
            errorCode: 1054,
            errorMessage: "User email id cannot be more than 40 characters"
        }

## 1014 [/1014]

+ Model (application/json)

        {
            errorCode: 1014,
            errorMessage: "User role cannot be blank"
        }


## 1013 [/1013]

+ Model (application/json)

        {
            errorCode: 1013,
            errorMessage: "Unknown user role"
        }


## 1057 [/1057]

+ Model (application/json)

        {
            errorCode: 1057,
            errorMessage: "First name cannot be more than 50 characters"
        }

## 1059 [/1059]

+ Model (application/json)

        {
            errorCode: 1059,
            errorMessage: "Last name cannot be more than 50 characters"
        }

## 1188 [/1188]

+ Model (application/json)

        {
            errorCode: 1188,
            errorMessage: "User is not associated with the business."
        }


## 1189 [/1189]

+ Model (application/json)

        {
            errorCode: 1189,
            errorMessage: "User with given email id not found."
        }

## 1177 [/1177]

+ Model (application/json)

        {
            errorCode: 1177,
            errorMessage: "User is not authorized to perform any action on any business"
        }

## 1081 [/1081]

+ Model (application/json)

        {
            errorCode: 1081,
            errorMessage: "Review comment is too long"
        }


## 1082 [/1082]

+ Model (application/json)

        {
            errorCode: 1082,
            errorMessage: "Review rating is missing"
        }

## 1142 [/1142]

+ Model (application/json)

        {
            errorCode: 1142,
            errorMessage: "Customer name cannot be blank"
        }


## 1086 [/1086]

+ Model (application/json)

        {
            errorCode: 1086,
            errorMessage: "Customer email id cannot be blank."
        }

## 1087 [/1087]

+ Model (application/json)

        {
            errorCode: 1087,
            errorMessage: "Customer email id is invalid."
        }

## 1088 [/1088]

+ Model (application/json)

        {
            errorCode: 1088,
            errorMessage: "Customer email id cannot be more than 40 characters."
        }

## 1170 [/1170]

+ Model (application/json)

        {
            errorCode: 1170,
            errorMessage: "SMS Alert flag is invalid. Valid values are 0 or 1."
        }

## 1242 [/1242]

+ Model (application/json)

        {
            errorCode: 1242,
            errorMessage: "Invalid rating value. Allowed value between 0-5."
        }

## 1243 [/1243]

+ Model (application/json)

        {
            errorCode: 1243,
            errorMessage: "Invalid rating value. Allowed value between 1-5."
        }

## 1244 [/1244]

+ Model (application/json)

        {
            errorCode: 1244,
            errorMessage: "Maximum 5 keywords can be selected for filter."
        }

## 1246 [/1246]

+ Model (application/json)

        {
            errorCode: 1246,
            errorMessage: "Customer email or phone number is required."
        }

## 1215 [/1215]

+ Model (application/json)

        {
            errorCode: 1215,
            errorMessage: "Invalid report month."
        }

## 1251 [/1251]

+ Model (application/json)

        {
            errorCode: 1251,
            errorMessage: "No review to mark featured/un-featured."
        }

## 1042 [/1042]

+ Model (application/json)

        {
            errorCode: 1042,
            errorMessage: "Invalid review id"
        }

## 1252 [/1252]

+ Model (application/json)

        {
            errorCode: 1252,
            errorMessage: "Review does not belong to the business."
        }

## 1248 [/1248]

+ Model (application/json)

        {
            errorCode: 1248,
            errorMessage: "Allowed limit for featured reviews exceeded."
        }

## 1186 [/1186]

+ Model (application/json)

        {
            errorCode: 1186,
            errorMessage: "Invalid from date. Allowed format is "MM/dd/yyyy"."
        }

## 1187 [/1187]

+ Model (application/json)

        {
            errorCode: 1187,
            errorMessage: "Invalid to date. Allowed format is "MM/dd/yyyy"."
        }

## 1265 [/1265]

+ Model (application/json)

        {
            errorCode: 1265,
            errorMessage: "Value for showOnFacebook is mandatory."
        }

## 1266 [/1266]

+ Model (application/json)

        {
            errorCode: 1266,
            errorMessage: "Value for showOnProfile is mandatory."
        }

## 1267 [/1267]

+ Model (application/json)

        {
            errorCode: 1267,
            errorMessage: "Value for showOnWebsite is mandatory."
        }

## 1268 [/1268]

+ Model (application/json)

        {
            errorCode: 1268,
            errorMessage: "TabType is mandatory field."
        }

## 1269 [/1269]

+ Model (application/json)

        {
            errorCode: 1269,
            errorMessage: "Max length for lable is 30."
        }

## 1270 [/1270]

+ Model (application/json)

        {
            errorCode: 1270,
            errorMessage: "Max length for URL is 1000."
        }

## 1360 [/1360]

+ Model (application/json)

        {
            errorCode: 1360,
            errorMessage: "Hierarchy is not supported for this parent type."
        }

## 1361 [/1361]

+ Model (application/json)

        {
            errorCode: 1361,
            errorMessage: "Hierarchy is not supported for this child type."
        }

## 1362 [/1362]

+ Model (application/json)

        {
            errorCode: 1362,
            errorMessage: "{Child type} cannot be added under {Parent type}."
        }

## 1363 [/1363]

+ Model (application/json)

        {
            errorCode: 1363,
            errorMessage: "Invalid parent child mapping."
        }


## 1029 [/1029]

+ Model (application/json)

        {
            errorCode: 1029,
            errorMessage: "Aggregation source not found"
        }

## 1315 [/1315]

+ Model (application/json)

        {
            errorCode: 1315,
            errorMessage: "Invalid survey."
        }

## 1523 [/1523]

+ Model (application/json)

        {
            errorCode: 1523,
            errorMessage: "The correct date format should be mm/dd/yyyy."
        }

## 1524 [/1524]

+ Model (application/json)

        {
            errorCode: 1524,
            errorMessage: "Date entered is invalid."
        }

# Group Business
APIs related to business

## Create [/v1/signup/reseller/subaccount{?rid,api_key,email_id}]
A Reseller can create a Business using:

### Create a business [POST]

#### Request

<center><b>Example CURL Request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X POST -d "{\"businessName\" : \"Snapdragon Salon\", \"zip\" : \"85012\",\"type\":\"Business\",\"phone\":"4032365164" }" "https://api.birdeye.com/resources/v1/signup/reseller/subaccount?rid=755009344&api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&email_id=rhonda@reviewmanagement.com" –v


> __Notes__

> - _The business creation API internally calls the business aggregation API which may take upto couple of mins._
> - _Save this business id as it will be required in the add user API call_


<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Request Payload</caption>
        <thead>
            <th>Fields</th>
            <th>Constraints</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>businessName</td>
                <td>required, string</td>
                <td>Name of the Business that needs to be added</td>
            </tr>
            <tr>
                <td>zip</td>
                <td>required, string</td>
                <td>Postal code of the business location</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>optional, string</td>
                <td>Business phone</td>
            </tr>
            <tr>
                <td>type</td>
                <td>optional, string</td>
                <td>Business type. Valid values are “Business, Enterprise-Location, Enterprise-Product, Reseller or a existing custom hierarchy type”. Default is “Business”.</td>
            </tr>
            <tr>
                <td>aggrOptions</td>
                <td>optional, Integer</td>
                <td>Aggregation Options to enable/disable aggregations. Possible values are, 0 to disable all aggregations, 1 to disable fetch business Info, enable review aggregation and search business , 3 to enable search business, disable fetch business and disable review aggregation, 4 to enable all aggregations. If no aggrOptions is provided, then all aggregations are enabled.</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Response Body</caption>
        <thead>
            <th>Fields</th>
            <th>Constraints</th>
            <th>Description</th>
        </thead>
        <tbody>
                <td>businessId</td>
                <td>required, string</td>
                <td>The business ID</td>
        </tbody>
    </table>
</div>

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </thead>
        <tbody>
         <tr><td>401 Unauthorized</td><td>1161</td><td>Invalid API key</td></tr>
         <tr><td>401 Unauthorized</td><td>1167</td><td>API key is missing</td></tr>
         <tr><td>429 Too Many Requests</td><td>89</td><td>Rate limit exceeded</td></tr>
         <tr><td>401 Unauthorized</td><td>1033</td><td>You are not authorized to perform this action</td></tr>
         <tr><td>404 Not Found</td><td>1175</td><td>No business found with the given id</td></tr>
         <tr><td>404 Not Found</td><td>1010</td><td>No user found with the given id</td></tr>
         <tr><td>400 Bad Request</td><td>1176</td><td>Business info cannot be blank</td></tr>
         <tr><td>400 Bad Request</td><td>1052</td><td>User email id cannot be blank</td></tr>
         <tr><td>400 Bad Request</td><td>1150</td><td>Business already associated with this reseller</td></tr>
         <tr><td>400 Bad Request</td><td>1151</td><td>Business already associated with another reseller</td></tr>
         <tr><td>400 Bad Request</td><td>1045</td><td>Business name cannot be blank</td></tr>
         <tr><td>400 Bad Request</td><td>1046</td><td>Business name cannot be more than 250 characters</td></tr>
         <tr><td>400 Bad Request</td><td>1047</td><td>Business name cannot be less than 3 characters</td></tr>
         <tr><td>400 Bad Request</td><td>1094</td><td>Postal code cannot be blank.</td></tr>
         <tr><td>400 Bad Request</td><td></td><td>Business location zip cannot be more than 6 numbers</td></tr>
         <tr><td>400 Bad Request</td><td>1025</td><td>Invalid business type.</td></tr>
         <tr><td>400 Bad Request</td><td>1055</td><td>Not a valid US phone number.</td></tr>
         </tbody>
    </table>
</div>



+ Parameters

    + rid (required, number) ... the reseller id
    + api_key (required, string) ... the API key
    + email_id (required, string) ... valid email id


+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
                "businessName": "The Business Name",
                "zip": 32323,
                "type": "Business",
                "phone": "4032365164",
                "aggrOptions" : 3
            }

+ Response 200 (application/json)

    + Body

            {
                "businessId":”653356544”
            }

+ Response 401 (application/json)

    [1161][]

+ Response 401 (application/json)

    [1167][]

+ Response 429

    [89][]

+ Response 401 (application/json)

    [1033][]

+ Response 404 (application/json)

    [1175][]

+ Response 404 (application/json)

    [1010][]

+ Response 400 (application/json)

    [1076][]

+ Response 400 (application/json)

    [1052][]

+ Response 400 (application/json)

    [1150][]

+ Response 400 (application/json)

    [1151][]

+ Response 400 (applicaton/json)

    [1045][]

+ Response 400 (applicaton/json)

    [1046][]

+ Response 400 (applicaton/json)

    [1047][]

+ Response 400 (applicaton/json)

    [1094][]

+ Response 400 (applicaton/json)

    [1075][]

+ Response 400 (applicaton/json)

    [1025][]

+ Response 400 (applicaton/json)

    [1055][]


## Create business in bulk [/v1/business/{businessId}/bulkcreate/{type}?{api_key, user_email}]
Create business in bulk

### Bulk Create [POST]

<center><b>Example curl request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X POST -d "[ {"name":"Drs. Chalker and Peterson, A Dental Partnership", "alias":"Drs. Chalker", "email":"admin@xyz.com", "categories":"Dentist,Dental,Doctor", "address1":"7405 Morro Rd", "address2":"Suite 102", "city":"Atascadero", "state":"CA", "countryCode":"US", "zip":"93422", "phone":"(805) 466-1243", "fax":"(805) 466-1248", "websiteUrl":"www.dentistinatascadero.com", "description":"*State of the Art Equipment *Serving North County Since 1976 *Gentle Care *Knowledgeable Staff", "services":"Other Dental Specialties, Orthodontists, Dentistry", "keywords":"Dentists Atascadero CA, Other Dental Specialties Atascadero CA, Orthodontists Atascadero CA", "logoUrl":"http://bzimages-prod.s3.amazonaws.com/669029760/Logo%20180%20X%20121.png", "coverImageUrl":"http://bzimages-prod.s3.amazonaws.com/669029760/California%20Foothills%20951%20X%20351.jpg", "timezone":"Pacific Standard Time", "languages":"English,Spanish", "payment":"Paypal, Visa, Master Card", "facebookUrl":",http://www.facebook.com/ChalkerandPetersonDental", "twitterUrl":"https://twitter.com/DrsChaAndPet", "linkedInUrl":"https://linkedin.com/DrsChaAndPet", "googleUrl":"https://plus.google.com/103957250846354895095/about?gl=US&hl=en-US", "youtubeUrl":"https://www.youtube.com/channel/UCDNP0M75ySA5qt0So2F8Xxw", "firstName":"tim", "lastName":"cook", "userEmailId":"tim.cook@xyz.com", "userPhone":"(805) 466-1243", "userRole":"owner" } ]" "https://api.birdeye.com/resources/v1/business/143424324234234/bulkcreate/business?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&user_email=tim.coook@xyz.com" –v

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Request Payload</caption>
        <thead>
            <th>Fields</th>
            <th>Constraints</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>name</td>
                <td>Required, String</td>
                <td>Business/Product Name (Max 1000 character long)</td>
            </tr>
            <tr>
                <td>alias</td>
                <td>Optional, string</td>
                <td>Alias (Your internal way of identifying this location)</td>
            </tr>
            <tr>
                <td>email</td>
                <td>Required, String</td>
                <td>Business Email ID </td>
            </tr>
            <tr>
                <td>phone</td>
                <td>Required, string</td>
                <td>Business Phone (Required) Format is (xxx) xxx-xxxx</td>
            </tr>
            <tr>
                <td>categories</td>
                <td>Optional, String</td>
                <td>Category (Mapped to Google Category)</td>
            </tr>
            <tr>
                <td>address1</td>
                <td>Optional, string</td>
                <td>Business Address</td>
            </tr>
            <tr>
                <td>address1</td>
                <td>Optional, String</td>
                <td>Business Address</td>
            </tr>
            <tr>
                <td>city</td>
                <td>Optional, string</td>
                <td>City (Max 1000 character long)</td>
            </tr>
            <tr>
                <td>state</td>
                <td>Optional, String</td>
                <td>State (2 character state code)</td>
            </tr>
            <tr>
                <td>countryCode</td>
                <td>Optional, string</td>
                <td>Country Code (2 character country code)</td>
            </tr>
            <tr>
                <td>zip</td>
                <td>Required, String</td>
                <td>Zip Code</td>
            </tr>
            <tr>
                <td>fax</td>
                <td>Optional, String</td>
                <td>Fax number Format is (xxx) xxx-xxxx</td>
            </tr>
            <tr>
                <td>websiteUrl</td>
                <td>Optional, String</td>
                <td>Business Email ID</td>
            </tr>
            <tr>
                <td>description</td>
                <td>Optional, string</td>
                <td>Description (10 to 4000 character long)</td>
            </tr>
            <tr>
                <td>services</td>
                <td>Optional, String</td>
                <td>Services (Comma separated list of services offered; used for SEO)</td>
            </tr>
            <tr>
                <td>keywords</td>
                <td>Optional, string</td>
                <td>Keywords (Comma separated list of keywords; Max 10 keywords; used for SEO)</td>
            </tr>
            <tr>
                <td>logoUrl</td>
                <td>Optional, String</td>
                <td>Logo Image (Dimension should be 60 x 60 px)</td>
            </tr>
            <tr>
                <td>coverImageUrl</td>
                <td>Optional, string</td>
                <td>Cover Image (Optional) (Dimension should be 995 x 316 px)</td>
            </tr>
            <tr>
                <td>timezone</td>
                <td>Optional, String</td>
                <td>Timezone  ('EST',  'CST', 'MST', 'PST', 'AKST', 'HST' are valid timezones )</td>
            </tr>
            <tr>
                <td>languages</td>
                <td>Optional, string</td>
                <td>Language </td>
            </tr>
            <tr>
                <td>payment</td>
                <td>Optional, String</td>
                <td>Payment Type (Max 250 character long)</td>
            </tr>
            <tr>
                <td>facebookUrl</td>
                <td>Optional, string</td>
                <td>Facebook URL (Optional)</td>
            </tr>
            <tr>
                <td>twitterUrl</td>
                <td>Optional, String</td>
                <td>Business Twitter URL</td>
            </tr>
            <tr>
                <td>linkedInUrl</td>
                <td>Optional, string</td>
                <td>Business LinkedId URL</td>
            </tr>
            <tr>
                <td>googleUrl</td>
                <td>Optional, String</td>
                <td>Business Google URL</td>
            </tr>
            <tr>
                <td>youtubeUrl</td>
                <td>Optional, string</td>
                <td>Business Youtube URL</td>
            </tr>
            <tr>
                <td>firstName</td>
                <td>Optional, String</td>
                <td>Location General Manager - First Name </td>
            </tr>
            <tr>
                <td>lastName</td>
                <td>Optional, String</td>
                <td>Location General Manager - Last Name </td>
            </tr>
            <tr>
                <td>userEmailId</td>
                <td>Optional, String</td>
                <td>Location General Manager - Email </td>
            </tr>
            <tr>
                <td>userPhone</td>
                <td>Optional, string</td>
                <td>Location General Manager - Mobile Phone</td>
            </tr>
            <tr>
                <td>userRole</td>
                <td>Optional, String</td>
                <td>LocationGeneral Manager - Role (They can be 'owner' or 'admin')</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1011</td>
            <td>Business id is invalid</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1023</td>
            <td>No email addresses specified</td>
        </tr>
        <tr>
            <td>400 Unauthorized</td>
            <td>1177</td>
            <td>User is not authorized to perform any action on any business</td>
        </tr>
        <tr>
            <td>404 Not Found</td>
            <td>1188</td>
            <td>User is not associated with the business.</td>
        </tr>
        </tbody>
    </table>
</div>

+ Parameters
    + businessId (string, required) ... the Parent ID
    + api_key (string, required) ... the API key
    + type (string, required) ... Business type (Business/Product)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

+ Response 401

    [1161][]

+ Response 401

    [1167][]

+ Response 429

    [89][]

+ Response 401

    [1011][]

+ Response 400

    [1023][]

+ Response 400

    [1177][]

+ Response 400

    [1188][]



## Search [/v1/business/search{?search_str,loc,sindex,count,sort,api_key,nearby}]
Business from BirdEye platform can be searched using:

### Search Business [GET]

#### Request

<center><b>Example CURL Request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X GET "https://api.birdeye.com/resources/v1/business/search?search_str=ray%20lord&loc=29063&sindex=20&count=20&sort=rating&api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&nearby=1" -v

#### Response

<center><b>Example Response Body</b></center>

    {
      "name": "Ray A. Lord",
      "category": "Lawyers",
      "address": {
        "address1": "7436 Broad River Rd Suite 110",
        "address2": null,
        "city": "Irmo",
        "state": "South Carolina",
        "zip": "29063",
        "countryCode": "US",
        "countryName": "United States of America"
      },
      "reviewCount": 105,
      "avgRating": 4.9,
      "coverImageURL": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/profile/lawyer.jpg",
      "profileURL": "http://reviews2.getlegal.com/ray-a-lord-755009344",
      "logoURL": null,
      "phone": "(803) 610-4056",
      "businessId": "755009344_1"
    }

<div class="paramsTableWrap">
<table class="paramsTable">
    <caption>Error Codes</caption>
    <thead>
        <tr>
            <th>HTTP Status</th><th>BirdEye error code</th><th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>401 Unauthorized</td><td>1161</td><td>Invalid API key</td></tr>
         <tr><td>400 Bad Request</td><td>1162</td><td>Either search string or location or both should be specified</td></tr>
         <tr><td>400 Bad Request</td><td>1163</td><td>Invalid start index value</td></tr>
         <tr><td>400 Bad Request</td><td>1164</td><td>Invalid result count value</td></tr>
         <tr><td>401 Unauthorized</td><td>1167</td><td>API key is missing</td></tr>
         <tr><td>429 Too Many Requests</td><td>89</td><td>Rate limit exceeded</td></tr>
    </tbody>
 </table>
</div>

+ Parameters
    + search_str (required, string) ... Search criteria for business. This could be business name or category
    + loc (required, string) ... Location of the business. This could be “City,State” or zip code.
    + sindex (required, string) ... Starting point for search results. Default value is 0. e.g. 0:start from 1st result, 25: start from 26th result
    + count (required, integer) ... Specifies the number of results to be returned. Default is 500. e.g. 50:return 50 results
    + sort (required, string) ... Results can be sorted by relevance, rating. By default it is relevance.
    + api_key (required, string) ... Partner specific API key provided by BirdEye for data exchange.
    + nearby (required, string) ... Flag to search business in neay by locations. Default is 1 e.g. 0: don’t search in near by cities, 1: search in near by cities

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    + Body

            {
              "name": "Ray A. Lord",
              "category": "Lawyers",
              "address": {
                "address1": "7436 Broad River Rd Suite 110",
                "address2": null,
                "city": "Irmo",
                "state": "South Carolina",
                "zip": "29063",
                "countryCode": "US",
                "countryName": "United States of America"
              },
              "reviewCount": 105,
              "avgRating": 4.9,
              "coverImageURL": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/profile/lawyer.jpg",
              "profileURL": "http://reviews2.getlegal.com/ray-a-lord-755009344",
              "logoURL": null,
              "phone": "(803) 610-4056",
              "businessId": "755009344_1"
            }

+ Response 401 (application/json)

    [1161][]

+ Response 429

    [89][]

+ Response 400 (application/json)

    [1162][]

+ Response 401 (application/json)

    [1163][]

+ Response 401 (application/json)

    [1164][]

+ Response 401 (application/json)

    [1167][]


## Get [/v1/business/{businessNumber}{?api_key}]
Business info from BirdEye platform can be fetched using:

### Get Business [GET]

#### Request

<center><b>Example CURL Request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X GET "https://api.birdeye.com/resources/v1/business/755009344_1?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451" -v

#### Response

<center><b>Example Response Body</b></center>

    {
      "name": "Dieci Lifestyle Spa",
      "alias": "Dieci Lifestyle Spa - Livingston, NJ",
      "emailId": "4568@livelovespa.com",
      "phone": "(973) 716-0101",
      "fax": "(973) 716-0102",
      "websiteURL": "http://www.diecispa.com/",
      "description": "Specialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
      "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
      "services": "Beauty Salon, Hair Spa",
      "logoURL": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg",
      "coverImageURL": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg",
      "image1Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/ab60b93831ba490383b9c59c0b4cf49d.jpeg",
      "image2Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/9fc3f2ba7c1b4dcea38ea76327c617f3.jpeg",
      "image3Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/77964cfead164cbf8f9c8dfd039269b0.jpeg",
      "timezone": "Pacific Standard Time",
      "languages": [
        "English",
        "Spanish"
      ],
      "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
      "hoursOfOperations": [
        {
          "day": "5",
          "startHour": "7:00",
          "endHour": "17:30",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "1",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "4",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "6",
          "startHour": "9:00",
          "endHour": "15:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "3",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "2",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "0",
          "startHour": null,
          "endHour": null,
          "isOpen": 0,
          "comment": "Mon closed"
        }
      ],
      "working24x7": 0,
      "location": {
        "address1": "90 W Mount Pleasant Ave",
        "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
        "city": "Livingston",
        "state": "NJ",
        "zip": "07039",
        "countryCode": "US",
        "countryName": "United States of America"
      },
      "reviewCount": 53,
      "avgRating": 3.4,
      "status": "active",
      "type": "Practice",
      "category": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
      "socialProfileURLs": {
        "googleUrl": "null",
        "facebookUrl": null,
        "twitterUrl": null,
        "linkedinUrl": null,
        "youtubeUrl": null
      },
      "isSEOEnabled": "false",
      "baseUrl": "https://birdeye.com/diecispa-755009344"
    }

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Response Body</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>name</td>
            <td>Business name</td>
        </tr>
        <tr>
            <td>alias</td>
            <td>Alias for business. default: business name followed by city, state</td>
        </tr>
        <tr>
            <td>emailId</td>
            <td>Email id for business</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>Business contact number</td>
        </tr>
        <tr>
            <td>fax</td>
            <td>Business fax number</td>
        </tr>
        <tr>
            <td>websiteURL</td>
            <td>Business website URL</td>
        </tr>
        <tr>
            <td>description</td>
            <td>Description for business</td>
        </tr>
        <tr>
            <td>keywords</td>
            <td>Keywords about the business. Useful in SEO</td>
        </tr>
        <tr>
            <td>services</td>
            <td>Services offered by business</td>
        </tr>
        <tr>
            <td>logoURL</td>
            <td>Logo image URL for business</td>
        </tr>
        <tr>
            <td>coverImageURL</td>
            <td>Cover image URL for business displayed on custom review site.</td>
        </tr>
        <tr>
            <td>image1URL, image2URL, image3URL</td>
            <td>Images for the business</td>
        </tr>
        <tr>
            <td>timezone</td>
            <td>Timezone in which business works</td>
        </tr>
        <tr>
            <td>languages</td>
            <td>Languages in which business deals</td>
        </tr>
        <tr>
            <td>payment</td>
            <td>Payment methods supported by business</td>
        </tr>
        <tr>
            <td>hoursOfOperations</td>
            <td>Working hours of business for each day.
            <br>day: 0(Monday), 1(Tuesday).
            <br>startHour: 9:00 (9 AM)
            <br>endHour: 18:00 (6 PM)
            <br>isOpen:  0(Business closed today),
            <br>1(Business open today)
            <br>comment: “By appointment only”</td>
        </tr>
        <tr>
            <td>working24x7</td>
            <td>Whether business is 24x7 open or not (0-false, 1-true)</td>
        </tr>
        <tr>
            <td>location</td>
            <td>Business address</td>
        </tr>
        <tr>
            <td>reviewCount</td>
            <td>Count of approved reviews for business</td>
        </tr>
        <tr>
            <td>avgRating</td>
            <td>Average rating of business based on approved reviews</td>
        </tr>
        <tr>
            <td>status</td>
            <td>Business status. Valid values are demo, active, inactive. Default is "demo"</td>
        </tr>
        <tr>
            <td>type</td>
            <td>Business type. Valid values are “Business, Enterprise-Location, Enterprise-Product, Reseller or custom hierarchy type”. Default is “Business”</td>
        </tr>
        <tr>
            <td>category</td>
            <td>Business categories</td>
        </tr>
        <tr>
            <td>socialProfileURLs</td>
            <td>
                Profile URLs for business on top rated social sites
                <br>e.g. Google, Facebook, Linkedin, Twitter, YouTube
            </td>
        </tr>
        <tr>
            <td>isSEOEnabled</td>
            <td>Enable/Disbale search engine indexing of business profile
                <br/> Valid values are “true”,”false”. Default is “true”.
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>404  Not Found</td>
            <td>1011</td>
            <td>Business id is invalid</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        </tbody>
    </table>
</div>

+ Parameters
    + businessNumber (string, required) ... the Business Number
    + api_key (string, required) ... Partner specific API key provided by BirdEye for data exchange.

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    + Body

            {
              "name": "Dieci Lifestyle Spa",
              "alias": "Dieci Lifestyle Spa - Livingston, NJ",
              "emailId": "4568@livelovespa.com",
              "phone": "(973) 716-0101",
              "fax": "(973) 716-0102",
              "websiteURL": "http://www.diecispa.com/",
              "description": "Specialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
              "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "services": "Beauty Salon, Hair Spa",
              "logoURL": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg",
              "coverImageURL": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg",
              "image1Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/ab60b93831ba490383b9c59c0b4cf49d.jpeg",
              "image2Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/9fc3f2ba7c1b4dcea38ea76327c617f3.jpeg",
              "image3Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/77964cfead164cbf8f9c8dfd039269b0.jpeg",
              "timezone": "Pacific Standard Time",
              "languages": [
                "English",
                "Spanish"
              ],
              "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
              "hoursOfOperations": [
                {
                  "day": "5",
                  "startHour": "7:00",
                  "endHour": "17:30",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "1",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "4",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "6",
                  "startHour": "9:00",
                  "endHour": "15:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "3",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "2",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "0",
                  "startHour": null,
                  "endHour": null,
                  "isOpen": 0,
                  "comment": "Mon closed"
                }
              ],
              "working24x7": 0,
              "location": {
                "address1": "90 W Mount Pleasant Ave",
                "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
                "city": "Livingston",
                "state": "NJ",
                "zip": "07039",
                "countryCode": "US",
                "countryName": "United States of America"
              },
              "reviewCount": 53,
              "avgRating": 3.4,
              "status":"active",
              "type":"Business",
              "category": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "socialProfileURLs": {
                "googleUrl": "null",
                "facebookUrl": null,
                "twitterUrl": null,
                "linkedinUrl": null,
                "youtubeUrl":null
              },
              "isSEOEnabled": "false",
              "baseUrl": "https://birdeye.com/diecispa-755009344"
            }

+ Response 401 (application/json)

    [1161][]

+ Response 429

    [89][]

+ Response 404 (application/json)

    [1011][]

+ Response 401 (application/json)

    [1167][]

## Update [/v1/business/{businessId}?api_key={?api_key}]
Business info on BirdEye platform can be updated using:

### Update Business [PUT]

#### Request

<center><b>Example CURL request</b></center>:

    curl -H "content-type: application/json" -H "accept:application/json" -X PUT  -d "
    {
      "name": "Dieci Lifestyle Spa",
      "alias": "Dieci Lifestyle Spa - Livingston, NJ",
      "emailId": "4568@livelovespa.com",
      "phone": "(973) 716-0101",
      "fax": "(973) 716-0102",
      "websiteUrl": "http://www.diecispa.com/",
      "description": "Specialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
      "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
      "services": "Beauty Salon, Hair Spa",
      "logoUrl": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg",
      "coverImageUrl": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg",
      "image1Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/ab60b93831ba490383b9c59c0b4cf49d.jpeg",
      "image2Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/9fc3f2ba7c1b4dcea38ea76327c617f3.jpeg",
      "image3Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/77964cfead164cbf8f9c8dfd039269b0.jpeg",
      "timezone": "Pacific Standard Time",
      "languages": [
        "English",
        "Spanish"
      ],
      "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
      "hoursOfOperations": [
        {
          "day": "5",
          "startHour": "7:00",
          "endHour": "17:30",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "1",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "4",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "6",
          "startHour": "9:00",
          "endHour": "15:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "3",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "2",
          "startHour": "8:00",
          "endHour": "21:00",
          "isOpen": 1,
          "comment": ""
        },
        {
          "day": "0",
          "startHour": null,
          "endHour": null,
          "isOpen": 0,
          "comment": "Mon closed"
        }
      ],
      "working24x7": 0,
      "location": {
        "address1": "90 W Mount Pleasant Ave",
        "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
        "city": "Livingston",
        "state": "NJ",
        "zip": "07039",
        "countryCode": "US",
        "countryName": "United States of America"
      },
      "categoryList": [
        "Hair Salons"
      ],
      "socialProfileURLs": {
        "googleUrl": "null",
        "facebookUrl": null,
        "twitterUrl": null,
        "linkedinUrl": null,
        "youtubeUrl": null
      },
      "isSEOEnabled": "false"
    }" "https://api.birdeye.com/resources/v1/business/755009344_1?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451" -v


<div class="paramsTableWrap">
    <table class="paramsTable">
    <caption>Request Payload</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>name</td>
            <td>Business name</td>
        </tr>
        <tr>
            <td>alias</td>
            <td>Alias for business. default: business name followed by city, state</td>
        </tr>
        <tr>
            <td>emailId</td>
            <td>Email id for business</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>Business contact number</td>
        </tr>
        <tr>
            <td>fax</td>
            <td>Business fax number</td>
        </tr>
        <tr>
            <td>websiteUrl</td>
            <td>Business website URL</td>
        </tr>
        <tr>
            <td>description</td>
            <td>Description for business</td>
        </tr>
        <tr>
            <td>keywords</td>
            <td>Keywords about the business. Useful in SEO</td>
        </tr>
        <tr>
            <td>services</td>
            <td>Services offered by business</td>
        </tr>
        <tr>
            <td>logoUrl</td>
            <td>Logo image URL for business</td>
        </tr>
        <tr>
            <td>coverImageUrl</td>
            <td>Cover image URL for business displayed on custom review site.</td>
        </tr>
        <tr>
            <td>image1Url, image2Url, image3Url</td>
            <td>Images for the business</td>
        </tr>
        <tr>
            <td>timezone</td>
            <td>Timezone in which business works</td>
        </tr>
        <tr>
            <td>languages</td>
            <td>Languages in which business deals</td>
        </tr>
        <tr>
            <td>payment</td>
            <td>Payment methods supported by business</td>
        </tr>
        <tr>
            <td>hoursOfOperations</td>
            <td>Working hours of business for each day.
                <br/>day: 0(Monday), 1(Tuesday).
                <br/>startHour: 9:00 (9 AM)
                <br/>endHour: 18:00 (6 PM)
                <br/>isOpen: 0(Business closed today), 1(Business open today)
                <br/>comment: "By appointment only"
            </td>
        </tr>
        <tr>
            <td>working24x7</td>
            <td>Whether business is 24x7 open or not (0-false, 1-true)</td>
        </tr>
        <tr>
            <td>location</td>
            <td>Business address</td>
        </tr>
        <tr>
            <td>categoryList</td>
            <td>List of business categories. All other categories will be removed from business leaving only the
                categories
                specified in list.
            </td>
        </tr>
        <tr>
            <td>socialProfileURLs</td>
            <td>Profile URLs for business on top rated social sites
                <br/>e.g. Google, Facebook, Linkedin, Twitter, YouTube
            </td>
        </tr>
        <tr>
            <td>isSEOEnabled</td>
            <td>Enable/Disbale search engine indexing of business profile
                <br/> Valid values are “true”,”false”. Default is “true”.
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>404 Not Found</td>
            <td>1175</td>
            <td>No business found with the given id</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1045</td>
            <td>Business name cannot be blank.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1047</td>
            <td>Business name cannot be less than 3 characters.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1046</td>
            <td>Business name cannot be more than 250 characters.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1048</td>
            <td>Business email id cannot be blank.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1049</td>
            <td>Business email id is invalid.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1050</td>
            <td>Business email id cannot be more than 40 characters.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1055</td>
            <td>Not a valid US phone number.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1056</td>
            <td>Not a valid US fax number.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1069</td>
            <td>Business description cannot be more than 4000 characters.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1070</td>
            <td>Business keywords cannot be more than 1000 characters.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1190</td>
            <td>Invalid category</td>
        </tr>
        </tbody>
    </table>
</div>


+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "name": "Dieci Lifestyle Spa",
              "alias": "Dieci Lifestyle Spa - Livingston, NJ",
              "emailId": "4568@livelovespa.com",
              "phone": "(973) 716-0101",
              "fax": "(973) 716-0102",
              "websiteUrl": "http://www.diecispa.com/",
              "description": "Specialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
              "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "services": "Beauty Salon, Hair Spa",
              "logoUrl": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg",
              "coverImageUrl": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg",
              "image1Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/ab60b93831ba490383b9c59c0b4cf49d.jpeg",
              "image2Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/9fc3f2ba7c1b4dcea38ea76327c617f3.jpeg",
              "image3Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/77964cfead164cbf8f9c8dfd039269b0.jpeg",
              "timezone": "Pacific Standard Time",
              "languages": [
                "English",
                "Spanish"
              ],
              "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
              "hoursOfOperations": [
                {
                  "day": "5",
                  "startHour": "7:00",
                  "endHour": "17:30",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "1",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "4",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "6",
                  "startHour": "9:00",
                  "endHour": "15:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "3",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "2",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "0",
                  "startHour": null,
                  "endHour": null,
                  "isOpen": 0,
                  "comment": "Mon closed"
                }
              ],
              "working24x7": 0,
              "location": {
                "address1": "90 W Mount Pleasant Ave",
                "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
                "city": "Livingston",
                "state": "NJ",
                "zip": "07039",
                "countryCode": "US",
                "countryName": "United States of America"
              },
              "categoryList": [
                "Hair Salons"
              ],
              "socialProfileURLs": {
                "googleUrl": "null",
                "facebookUrl": null,
                "twitterUrl": null,
                "linkedinUrl": null,
                "youtubeUrl": null
              }
            }

+ Response 200

    + Body

            {
              "name": "Dieci Lifestyle Spa",
              "alias": "Dieci Lifestyle Spa - Livingston, NJ",
              "emailId": "4568@livelovespa.com",
              "phone": "(973) 716-0101",
              "fax": "(973) 716-0102",
              "websiteUrl": "http://www.diecispa.com/",
              "description": "Specialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
              "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "services": "Beauty Salon, Hair Spa",
              "logoUrl": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg",
              "coverImageUrl": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg",
              "image1Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/ab60b93831ba490383b9c59c0b4cf49d.jpeg",
              "image2Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/9fc3f2ba7c1b4dcea38ea76327c617f3.jpeg",
              "image3Url": "http://d2xt3xymj142xp.cloudfront.net/712586432/other/77964cfead164cbf8f9c8dfd039269b0.jpeg",
              "timezone": "Pacific Standard Time",
              "languages": [
                "English",
                "Spanish"
              ],
              "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
              "hoursOfOperations": [
                {
                  "day": "5",
                  "startHour": "7:00",
                  "endHour": "17:30",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "1",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "4",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "6",
                  "startHour": "9:00",
                  "endHour": "15:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "3",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "2",
                  "startHour": "8:00",
                  "endHour": "21:00",
                  "isOpen": 1,
                  "comment": ""
                },
                {
                  "day": "0",
                  "startHour": null,
                  "endHour": null,
                  "isOpen": 0,
                  "comment": "Mon closed"
                }
              ],
              "working24x7": 0,
              "location": {
                "address1": "90 W Mount Pleasant Ave",
                "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
                "city": "Livingston",
                "state": "NJ",
                "zip": "07039",
                "countryCode": "US",
                "countryName": "United States of America"
              },
              "categoryList": [
                "Hair Salons"
              ],
              "socialProfileURLs": {
                "googleUrl": "null",
                "facebookUrl": null,
                "twitterUrl": null,
                "linkedinUrl": null,
                "youtubeUrl": null
              }
            }

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 404

    [1175][]

+ Response 400

    [1045][]

+ Response 401

    [1047][]

+ Response 401

    [1046][]

+ Response 401

    [1048][]

+ Response 401

    [1049][]

+ Response 401

    [1050][]

+ Response 401

    [1055][]

+ Response 401

    [1056][]

+ Response 401

    [1069][]

+ Response 401

    [1070][]

+ Response 401

    [1190][]


## Delete [/v1/business/{business_id} {apikey}]
Business/sub-reseller can be deleted using:

### Delete Business [DELETE]

Business/sub-reseller can be deleted using:

<center><b>Example curl request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X DELETE "https://api.birdeye.com/resources/v1/business/755009344?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451" –v

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>404 Not Found</td>
            <td>1175</td>
            <td>No business found with the given id</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1174</td>
            <td>Reseller can't be removed as it has child accounts.</td>
        </tr>
        </tbody>
    </table>

</div>

+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200 (application/json)

+ Response 400 (application/json)

    [1174][]

+ Response 401 (application/json)

    [1161][]

+ Response 429

    [89][]

+ Response 401 (application/json)

    [1167][]

+ Response 404 (application/json)

    [1175][]

## Status Update [/v1/business/{business_id}/status{?astatus,api_key}]
Business status can be updated using:

### Update the status [PUT]

<center><b>Example curl request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X PUT "https://api.birdeye.com/resources/v1/business/755009344/status?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&astatus=active" –v

#### Response

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>404 Not Found</td>
            <td>1175</td>
            <td>No business found with the given id</td>
        </tr>
        <tr>
            <td>403 Forbidden</td>
            <td>1184</td>
            <td>Status change is not allowed.</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1191</td>
            <td>Invalid status.</td>
        </tr>
        </tbody>
    </table>
</div>

+ Parameters

    + business_id (string, required) ... Business id whose status has to be changed. Returned by create business API
    + api_key (string, required) ... Partner specific API key provided by BirdEye for data exchange.
    + status (string, required) ... New status for the business. Valid values are “active/inactive”.

+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 404

    [1175][]

+ Response 403

    [1184][]

+ Response 400

    [1191][]


## Competitor of Enterprise Business [/v1/business/{EnterpriseBusinessNumber}/child{?api_key,isCompetitor}]
List of all Enterprise Competitor Business can be retrieved using:

### Get Competitor Business [GET]
<center><b>Example Curl Request</b></center>
     curl -H "content-type: application/json" -H "accept:application/json" -X GET "https://api.birdeye.com/resources/v1/business/104563456/child?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&isCompetitor=true" –v

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Request Parameter</caption>
        <thead>
            <th>Fields</th>
            <th>Constraints</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>api_key</td>
                <td>required</td>
                <td>Reseller/Sub-reseller/Enterprise id</td>
            </tr>
            <tr>
                <td>isCompetitor</td>
                <td>required</td>
                <td>true/false</td>
            </tr>
        </tbody>
    </table>
</div>

####Response
<center><b>Example Response</b></center>
[
      {
      "id": 147867723257477,
      "name": "Pizza hut",
      "alias": "Pizza hut"
   },
      {
      "id": 147867726142270,
      "name": "Mcdonalds",
      "alias": "Mcdonalds"
   },
      {
      "id": 147867727574772,
      "name": "KFC",
      "alias": "KFC"
   },
      {
      "id": 149540962791726,
      "name": "Burger king",
      "alias": "Burger king"
   },
      {
      "id": 149540965060398,
      "name": "Subway",
      "alias": "Subway"
   }
]


<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Response Body</caption>
        <thead>
            <th>Fields</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>Enterprise Competitor Business ID</td>
            </tr>
            <tr>
                <td>name</td>
                <td>Enterprise Competitor Business Name</td>
            </tr>
            <tr>
                <td>alias</td>
                <td>Enterprise Competitor Business alias</td>
            </tr>
        </tbody>
    </table>
</div>

+ Parameters

    + api_key (string, required) ... Partner specific API key provided by BirdEye for data exchange.
    + isCompetitor (boolean, required) ... true for get competitor business of Enterprise Business and False for get Child Business of Enterprise Business .

+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200 (application/json)

    + Body

    [
      {
        "id": 768996864,
        "name": "Environmental Pest Management",
        "alias": "Environmental Pest Management - Westerville, OH"
      },
      {
        "id": 144670708364016,
        "name": "Sub-reseller",
        "alias": "Sub-reseller"
      },
      {
        "id": 144670708364322,
        "name": "Holiday Inn",
        "alias": "Holiday Inn"
      }
    ]

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]


<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        </tbody>
    </table>
</div>

## Child Business of Competitor [/v1/business/{EnterpriseCompetitorBusinessId}/child{?api_key,isCompetitor}]
List of all Child Business of Competitor can be retrieved using:

### Get Competitor Child Business [GET]
<center><b>Example Curl Request</b></center>
     curl -H "content-type: application/json" -H "accept:application/json" -X GET "https://api.birdeye.com/resources/v1/business/104563456/child?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&isCompetitor=true" –v

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Request Parameter</caption>
        <thead>
            <th>Fields</th>
            <th>Constraints</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>api_key</td>
                <td>required</td>
                <td>Reseller/Sub-reseller/Enterprise id</td>
            </tr>
            <tr>
                <td>isCompetitor</td>
                <td>required</td>
                <td>true/false</td>
            </tr>
        </tbody>
    </table>
</div>

####Response
<center><b>Example Response</b></center>
[
      {
        "id": 986031488,
        "name": "Central Ohio Endodontics",
        "alias": "Central Ohio Endodontics - Dublin, OH",
        "address": {
          "address1": "5152 Blazer Memorial Pkwy",
          "address2": "Ste 102",
          "city": "Dublin",
          "state": "OH",
          "zip": "43017",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 896-2801",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 04, 2013",
      },
      {
        "id": 768996864,
        "name": "Environmental Pest Management",
        "alias": "Environmental Pest Management - Westerville, OH",
        "address": {
          "address1": "200 Hoff Rd",
          "address2": "Unit P",
          "city": "Westerville",
          "state": "OH",
          "zip": "43082",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 771-8605",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 05, 2013",
      },
      {
        "id": 144670708364016,
        "name": "Sub-reseller",
        "alias": "Sub-reseller",
        "status": "active",
        "createdOn": "Nov 05, 2013",
        "type": "Reseller",
        "childCount": 1
      },
      {
        "id": 144670708364322,
        "name": "Holiday Inn",
        "alias": "Holiday Inn",
        "status": "active",
        "createdOn": "Nov 01, 2013",
        "type": "Enterprise-Location",
        "childCount": 2
      }
    ]


<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Response Body</caption>
        <thead>
            <th>Fields</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>Business ID</td>
            </tr>
            <tr>
                <td>name</td>
                <td>Business Name</td>
            </tr>
            <tr>
                <td>alias</td>
                <td>Business alias</td>
            </tr>
            <tr>
                <td>address</td>
                <td>Business address. note: available only when it is SMB/Enterprise Location</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>Business phone</td>
            </tr>
            <tr>
                <td>status</td>
                <td>Payment status</td>
            </tr>
            <tr>
                <td>createdOn</td>
                <td>Business singup date</td>
            </tr>
            <tr>
                <td>type</td>
                <td>Type of account. e.g. Reseller (when it is a sub-reseller), Enterprise-Location (location based enterprise), Enterprise-Product (product based enterprise), Business (SMB/Enterprise location), Product (Enterprise product)</td>
            </tr>
            <tr>
                <td>childCount</td>
                <td>Child account count. note: applicable only for Reseller, Enterprise-Location, Enterprise-Product</td>
            </tr>
        </tbody>
    </table>
</div>

+ Parameters

    + api_key (string, required) ... Partner specific API key provided by BirdEye for data exchange.
    + isCompetitor (boolean, required) ... true for get child business of Enterprise competitor business.

+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200 (application/json)

    + Body

    [
      {
        "id": 986031488,
        "name": "Central Ohio Endodontics",
        "alias": "Central Ohio Endodontics - Dublin, OH",
        "address": {
          "address1": "5152 Blazer Memorial Pkwy",
          "address2": "Ste 102",
          "city": "Dublin",
          "state": "OH",
          "zip": "43017",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 896-2801",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 04, 2013",
      },
      {
        "id": 768996864,
        "name": "Environmental Pest Management",
        "alias": "Environmental Pest Management - Westerville, OH",
        "address": {
          "address1": "200 Hoff Rd",
          "address2": "Unit P",
          "city": "Westerville",
          "state": "OH",
          "zip": "43082",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 771-8605",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 05, 2013",
      },
      {
        "id": 144670708364016,
        "name": "Sub-reseller",
        "alias": "Sub-reseller",
        "status": "active",
        "createdOn": "Nov 05, 2013",
        "type": "Reseller",
        "childCount": 1
      },
      {
        "id": 144670708364322,
        "name": "Holiday Inn",
        "alias": "Holiday Inn",
        "status": "active",
        "createdOn": "Nov 01, 2013",
        "type": "Enterprise-Location",
        "childCount": 2
      }
    ]

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]


<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        </tbody>
    </table>
</div>

## Child Businesses [/v1/business/child/all{?api_key, pid}]
List of child businesses can be retrieved using:

### Get Child Businesses [GET]

<center><b>Example curl request</b></center>
    curl -H "content-type: application/json" -H "accept:application/json" -X GET "https://api.birdeye.com/resources/v1/business/child/all?pid=32423422&api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451" –v
<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Request Parameter</caption>
        <thead>
            <th>Fields</th>
            <th>Constraints</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>pid</td>
                <td>required</td>
                <td>Reseller/Sub-reseller/Enterprise id</td>
            </tr>
        </tbody>
    </table>
</div>

#### Response

<center><b>Example Response</b></center>

    [
      {
        "id": 986031488,
        "name": "Central Ohio Endodontics",
        "alias": "Central Ohio Endodontics - Dublin, OH",
        "address": {
          "address1": "5152 Blazer Memorial Pkwy",
          "address2": "Ste 102",
          "city": "Dublin",
          "state": "OH",
          "zip": "43017",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 896-2801",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 04, 2013",
      },
      {
        "id": 768996864,
        "name": "Environmental Pest Management",
        "alias": "Environmental Pest Management - Westerville, OH",
        "address": {
          "address1": "200 Hoff Rd",
          "address2": "Unit P",
          "city": "Westerville",
          "state": "OH",
          "zip": "43082",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 771-8605",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 05, 2013",
      },
      {
        "id": 144670708364016,
        "name": "Sub-reseller",
        "alias": "Sub-reseller",
        "status": "active",
        "createdOn": "Nov 05, 2013",
        "type": "Reseller",
        "childCount": 1
      },
      {
        "id": 144670708364322,
        "name": "Holiday Inn",
        "alias": "Holiday Inn",
        "status": "active",
        "createdOn": "Nov 01, 2013",
        "type": "Enterprise-Location",
        "childCount": 2
      }
    ]

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Response Body</caption>
        <thead>
            <th>Fields</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>Business ID</td>
            </tr>
            <tr>
                <td>name</td>
                <td>Business Name</td>
            </tr>
            <tr>
                <td>alias</td>
                <td>Business alias</td>
            </tr>
            <tr>
                <td>address</td>
                <td>Business address. note: available only when it is SMB/Enterprise Location</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>Business phone</td>
            </tr>
            <tr>
                <td>status</td>
                <td>Payment status</td>
            </tr>
            <tr>
                <td>createdOn</td>
                <td>Business singup date</td>
            </tr>
            <tr>
                <td>type</td>
                <td>Type of account. e.g. Reseller (when it is a sub-reseller), Enterprise-Location (location based enterprise), Enterprise-Product (product based enterprise), Business (SMB/Enterprise location), Product (Enterprise product)</td>
            </tr>
            <tr>
                <td>childCount</td>
                <td>Child account count. note: applicable only for Reseller, Enterprise-Location, Enterprise-Product</td>
            </tr>
        </tbody>
    </table>
</div>

+ Parameters

    + api_key (string, required) ... Partner specific API key provided by BirdEye for data exchange.

+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200 (application/json)

    + Body

    [
      {
        "id": 986031488,
        "name": "Central Ohio Endodontics",
        "alias": "Central Ohio Endodontics - Dublin, OH",
        "address": {
          "address1": "5152 Blazer Memorial Pkwy",
          "address2": "Ste 102",
          "city": "Dublin",
          "state": "OH",
          "zip": "43017",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 896-2801",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 04, 2013",
      },
      {
        "id": 768996864,
        "name": "Environmental Pest Management",
        "alias": "Environmental Pest Management - Westerville, OH",
        "address": {
          "address1": "200 Hoff Rd",
          "address2": "Unit P",
          "city": "Westerville",
          "state": "OH",
          "zip": "43082",
          "countryCode": "US",
          "countryName": "United States of America"
        },
        "phone": "(614) 771-8605",
        "type": "Business",
        "status": "active",
        "createdOn": "Dec 05, 2013",
      },
      {
        "id": 144670708364016,
        "name": "Sub-reseller",
        "alias": "Sub-reseller",
        "status": "active",
        "createdOn": "Nov 05, 2013",
        "type": "Reseller",
        "childCount": 1
      },
      {
        "id": 144670708364322,
        "name": "Holiday Inn",
        "alias": "Holiday Inn",
        "status": "active",
        "createdOn": "Nov 01, 2013",
        "type": "Enterprise-Location",
        "childCount": 2
      }
    ]

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]


<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        </tbody>
    </table>
</div>

## Public profile tabs [/v1/business/tabs{?api_key,businessId}]
Update public profile business can be done using:

### Update public profile of Businesses [POST]

<center><b>Example curl request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X POST -d "{\"profileTabs\":[{  \"tabType\":\"map\",  \"label\":\"map location\",  \"showOnProfile\":0,  \"showOnWebsite\":1,  \"showOnFacebook\":1, \"url\":\"http://www.mapurl.com\"},{  \"tabType\":\"Feedback\",  \"label\":\"Feedback\",  \"showOnProfile\":0,  \"showOnWebsite\":1,  \"showOnFacebook\":1, \"url\":\"http://www.feedback.com\" }]}" "https://api.birdeye.com/resources/v1/business/tabs?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&businessId=755009344" –v

#### Request

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Request Payload</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>profileTabs</td>
            <td>Array contains following fields</td>
        </tr>
        <tr>
            <td>tabType</td>
            <td>Valid values are "Reviews", "Feedback", "Aboutus", "Map", "Appointment" or "BusinessOwner" (Required)</td>
        </tr>
        <tr>
            <td>label</td>
            <td>Name on the tab. Max length 30 character.</td>
        </tr>
        <tr>
            <td>showOnProfile</td>
            <td>Valid values "0" or "1" (required)</td>
        </tr>
        <tr>
            <td>showOnWebsite</td>
            <td>Valid values "0" or "1" (required)</td>
        </tr>
        <tr>
            <td>showOnFacebook</td>
            <td>Valid values "0" or "1" (required)</td>
        </tr>
        <tr>
            <td>url</td>
            <td>Valid url for tab.</td>
        </tr>
        </tbody>
    </table>
</div>


> __Notes__

> - _For reviews tab, only update label is applicable._


#### Response

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1011</td>
            <td>Business id is invalid</td>
        </tr>
        <tr>
            <td>400 Unauthorized</td>
            <td>1265</td>
            <td>Value for showOnFacebook is mandatory.</td>
        </tr>
        <tr>
            <td>400 Unauthorized</td>
            <td>1266</td>
            <td>Value for showOnProfile is mandatory.</td>
        </tr>
        <tr>
            <td>400 Unauthorized</td>
            <td>1267</td>
            <td>Value for showOnWebsite is mandatory.</td>
        </tr>
        <tr>
            <td>400 Unauthorized</td>
            <td>1268</td>
            <td>TabType is mandatory field.</td>
        </tr>
        <tr>
            <td>400 Unauthorized</td>
            <td>1269</td>
            <td>Max length for lable is 30.</td>
        </tr>
        <tr>
            <td>400 Unauthorized</td>
            <td>1270</td>
            <td>Max length for URL is 1000.</td>
        </tr>
        </tbody>
    </table>
</div>

+ Parameters

    + businessId (string, required) ... the Business ID
    + api_key (string, required) ... the API key

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 401

    [1011][]

+ Response 400

    [1265][]

+ Response 400

    [1266][]

+ Response 400

    [1267][]

+ Response 400

    [1268][]

+ Response 400

    [1269][]

+ Response 400

    [1270][]

## Get Hierarchy [/v1/business/{businessId}/hierachy?api_key]
Get parent/child hierarchy for an enterprise

### Get hierarchy for an enterprise [GET]

<center><b>Example curl request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X GET "https://api.birdeye.com/resources/v1/business/143424324234234/hierarchy?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451" –v

#### Response

<center><b>Example response</b></center>


    {
        "id": 143424324234234,
        "name": "Psychiatry",
        "alias": null,
        "address": null,
        "phone": null,
        "status": "active",
        "createdOn": "Sep 03, 2016",
        "type": "Department",
        "websiteUrl": null,
        "child": [
        {
            "id": 147293020095434,
            "name": "Addiction Psychiatry",
            "alias": null,
            "address": null,
            "phone": null,
            "status": "active",
            "createdOn": "Sep 03, 2016",
            "type": "Specialty",
            "websiteUrl": null,
            "child": [
            {
                "id": 147293022348715,
                "name": "NYC Center for Treatment and Research",
                "alias": null,
                "address": null,
                "phone": null,
                "status": "active",
                "createdOn": "Sep 03, 2016",
                "type": "Practice",
                "websiteUrl": null,
                "child": [
                {
                    "id": 1467324432430144,
                    "name": "Anna B. B., M.D",
                    "alias": "Anna B. B., M.D",
                    "address": {
                        "address1": "NYC Center for Treatment and Research",
                        "address2": "561 West 35th Street, 11th Floor",
                        "city": "New York",
                        "state": "NY",
                        "zip": "10036",
                        "countryCode": "US",
                        "countryName": "United States of America"
                    },
                    "phone": "646-xxx-xxxx ",
                    "status": "active",
                    "createdOn": "Jun 30, 2016",
                    "type": "Physician",
                    "websiteUrl": "https://google.org/abbnyc",
                    "child": []
                }]
            }]
        }],
        "parents": [
        {
           "id": 148189355091299,
           "name": "Neurology",
           "alias": null,
           "address": null,
           "phone": null,
           "status": "active",
           "createdOn": "Dec 16, 2016",
           "type": "Specialty",
           "websiteUrl": null,
           "tags": null,
           "child": [],
           "parents": []
        }]
    }
<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1011</td>
            <td>Business id is invalid</td>
        </tr>
        </tbody>
    </table>
</div>

+ Parameters
    + businessId (string, required) ... the Business ID
    + api_key (string, required) ... the API key

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 401

    [1011][]

## Add/Remove Child in Hierarchy [/v1/business/{businessId}/hierachy?{api_key, cid}]
Add/Remove child in hierarchy

### Add child in hierarchy [PUT]

<center><b>Example curl request</b></center>

    curl -H "content-type: application/json" -H "accept:application/json" -X PUT "https://api.birdeye.com/resources/v1/business/143424324234234/hierarchy?api_key=92bcd6e0-c102-43fd-8a67-1a7be5258451&cid=143656522752665&merge_reviews=0" –v

<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Request Payload</caption>
        <thead>
            <th>Fields</th>
            <th>Constraints</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr>
                <td>merge_reviews</td>
                <td>optional, integer</td>
                <td>Whether to include child reviews in parent review set or not. Valid values are 0 or 1. Default value is 0</td>
            </tr>
            <tr>
                <td>zip</td>
                <td>required, string</td>
                <td>Postal code of the business location</td>
            </tr>
            <tr>
                <td>type</td>
                <td>type</td>
                <td>Business type. Valid values are “Business, Enterprise-Location, Enterprise-Product, Reseller”. Default is “Business”.</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>optional, string</td>
                <td>Business phone</td>
            </tr>
        </tbody>
    </table>
</div>

#### Response

<center><b>Example response</b></center>


    {
        "id": 143424324234234,
        "name": "Psychiatry",
        "alias": null,
        "address": null,
        "phone": null,
        "status": "active",
        "createdOn": "Sep 03, 2016",
        "type": "Department",
        "websiteUrl": null,
        "child": [
        {
            "id": 143656522752665,
            "name": "Adult Psychiatry",
            "alias": null,
            "address": null,
            "phone": null,
            "status": "active",
            "createdOn": "Sep 03, 2016",
            "type": "Specialty",
            "websiteUrl": null,
            "child": []
        },
        {
            "id": 147293020095434,
            "name": "Addiction Psychiatry",
            "alias": null,
            "address": null,
            "phone": null,
            "status": "active",
            "createdOn": "Sep 03, 2016",
            "type": "Specialty",
            "websiteUrl": null,
            "child": [
            {
                "id": 147293022348715,
                "name": "NYC Center for Treatment and Research",
                "alias": null,
                "address": null,
                "phone": null,
                "status": "active",
                "createdOn": "Sep 03, 2016",
                "type": "Practice",
                "websiteUrl": null,
                "child": [
                {
                    "id": 1467324432430144,
                    "name": "Anna B. B., M.D",
                    "alias": "Anna B. B., M.D",
                    "address": {
                        "address1": "NYC Center for Treatment and Research",
                        "address2": "561 West 35th Street, 11th Floor",
                        "city": "New York",
                        "state": "NY",
                        "zip": "10036",
                        "countryCode": "US",
                        "countryName": "United States of America"
                    },
                    "phone": "646-xxx-xxxx ",
                    "status": "active",
                    "createdOn": "Jun 30, 2016",
                    "type": "Physician",
                    "websiteUrl": "https://google.org/abbnyc",
                    "child": []
                }]
            }]
        }]
    }
<div class="paramsTableWrap">
    <table class="paramsTable">
        <caption>Error Codes</caption>
        <thead>
        <tr>
            <th>HTTP Status</th>
            <th>BirdEye error code</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>401 Unauthorized</td>
            <td>1161</td>
            <td>Invalid API key</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1167</td>
            <td>API key is missing</td>
        </tr>
        <tr>
            <td>429 Too Many Requests</td>
            <td>89</td>
            <td>Rate limit exceeded</td>
        </tr>
        <tr>
            <td>401 Unauthorized</td>
            <td>1011</td>
            <td>Business id is invalid</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1360</td>
            <td>Hierarchy is not supported for this parent type</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1361</td>
            <td>Hierarchy is not supported for this child type</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1362</td>
            <td>{Child type} cannot be added under {Parent type}</td>
        </tr>
        <tr>
            <td>400 Bad Request</td>
            <td>1363</td>
            <td>Invalid parent child mapping</td>
        </tr>
        </tbody>
    </table>
</div>

+ Parameters
    + businessId (string, required) ... the Parent ID
    + api_key (string, required) ... the API key
    + cid (string, required) ... the Child ID

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 401

    [1011][]

+ Response 400

[...]
