FORMAT: 1A
HOST: https://api.birdeye.com/resources

# Birdeye
Birdeye helps businesses grow through happy customers. Over 80,000 businesses use Birdeye everyday to attract new leads with Listings, Reviews and Referrals, convert them into customers with Webchat, Appointments, and Payments, and delight those customers with Surveys, Ticketing, and Insights - all in one place.

The Birdeye APIs are built on HTTP and are RESTful APIs.

* Uses resource-oriented URLs.
* Uses built-in HTTP capabilities for passing parameters and authentication.
* Responds with standard HTTP response codes to indicate errors.
* Requests and responses payload attached with all the mentioned APIs, you may choose your preferred language per the integration requirement.


### Authentication and Rate limiting

To call a Birdeye API, you need a valid API key. It can be fetched via the Birdeye dashboard and is a confidential key.

There is a limit to calling APIs with each API key [connect with the support team to get the current limit]. If too many requests are made within the threshold timeframe, an error will be returned in the response.

### Pagination

Multiple API supporting pagination. These APIs have two parameters sindex and count.


* <b>sindex:</b> is the start index
* <b>count:</b> No. of records, you want to fetch.


> __Note__
> - _Deep Pagination with record window greater than 100k is not supported. Either reduce the sindex + count to be less than equal to 100k or use appropriate filters to narrow down your result set._



<b>For example :</b>

* Suppose you have to fetch 20 records:
<pre><code>
API call 1 -> sindex=0, count 10
API call 2 -> sindex -> 10, count 10.
</pre></code>

* To fetch 100kth record:
<pre><code>
sindex = 99000 and count = 1000
will just work fine as sindex + count = 100000 which is less than 100,000.
</pre></code>

* If you fetch more than 100kth records:
<pre><code>
sindex = 99000 and count = 1001, sindex + count = 100001
which is greater than 100,000. Thus, you'll receive an error in response.
</pre></code>

### HTTP Status Codes
Every API response will have an HTTP status code.

* <b>200 - OK:</b> API request is successful
* <b>202 - Accepted:</b> The API request has been accepted for processing.
* <b>400 - Bad Request:</b> The API request was unacceptable, often due to a missing or invalid parameter.
* <b>404 - Not Found:</b> The requested resource does not exist.
* <b>429 - Rate Limited:</b> You have made too many requests within the threshold timeframe.
* <b>500 - Internal Server Error:</b> Something went wrong on our end. Please get in touch with support.

### Error Response

Birdeye API will return a validation error in case of missing/invalid input in the request. The response will return the errorCode and errorMessage.

For example :
<pre><code>
{
    "code": 1161,
    "message": "Invalid API key"
}
</pre></code>


## 1023 [/1023]

+ Model (application/json)

        {
            "code": 1023,
            "message": "No email addresses specified"
        }

## 1052 [/1052]

+ Model (application/json)

        {
            "code": 1052,
            "message": "User email id cannot be blank"
        }

## 1150 [/1150]

+ Model (application/json)

        {
            "code": 1150,
            "message": "Business already associated with this reseller"
        }

## 1151 [/1151]

+ Model (application/json)

        {
            "code": 1151,
            "message": "Business already associated with another reseller"
        }

## 1040 [/1040]

+ Model (application/json)

        {
            "code": 1040,
            "message": "Invalid temmplate id."
        }

## 1045 [/1045]

+ Model (application/json)

        {
            "code": 1045,
            "message": "Business name cannot be blank"
        }

## 1046 [/1046]

+ Model (application/json)

        {
            "code": 1046,
            "message": "Business name cannot be more than 250 characters"
        }

## 1047 [/1047]

+ Model (application/json)

        {
            "code": 1047,
            "message": "Business name cannot be less than 3 characters"
        }

## 1094 [/1094]

+ Model (application/json)

        {
            "code": 1094,
            "message": "Postal code cannot be blank."
        }

## 1030 [/1030]

+ Model (application/json)

        {
            "code": 1030,
            "message": "URL cannot be blank"
        }

## 1031 [/1031]

+ Model (application/json)

        {
            "code": 1031,
            "message": "Source id cannot be blank"
        }

## 1032 [/1032]

+ Model (application/json)

        {
            "code": 1032,
            "message": "Invalid source id"
        }

## 1039 [/1039]

+ Model (application/json)

        {
            "code": 1039,
            "message": "Invalid business aggregation id"
        }

## 1067 [/1067]

+ Model (application/json)

        {
            "code": 1067,
            "message": "URL is invalid"
        }

## 1075 [/1075]

+ Model (application/json)

        {
            "code": 1075,
            "message": "Business location zip cannot be more than 6 numbers"
        }

## 1025 [/1025]

+ Model (application/json)

        {
            "code": 1025,
            "message": "Invalid business type"
        }

## 1161 [/1161]

+ Model (application/json)

        {
            "code": 1161,
            "message": "Invalid API key"
        }

## 1167 [/1167]

+ Model (application/json)

        {
            "code": 1167,
            "message": "API key is missing"
        }

## 89 [/89]
+ Model (application/json)

        {
            "code": 89,
            "message": "Rate limit exceeded"
        }

## 1033 [/1033]

+ Model (application/json)

        {
            "code": 1033,
            "message": "You are not authorized to perform this action"
        }

## 1175 [/1175]

+ Model (application/json)

        {
            "code": 1175,
            "message": "No business found with the given id"
        }

##  1010 [/1010]

+ Model (application/json)

        {
            "code": 1010,
            "message": "No user found with the given id"
        }

## 1076 [/1076]

+ Model (application/json)

        {
            "code": 1176,
            "message": "Business info cannot be blank"
        }

## 1162 [/1162]

+ Model (application/json)

        {
            "code": 1162,
            "message": "Either search string or location or both should be specified"
        }

## 1163 [/1163]

+ Model (application/json)

        {
            "code": 1163,
            "message": "Invalid start index value"
        }

## 1164 [/1164]

+ Model (application/json)

        {
            "code": 1164,
            "message": "Invalid result count value"
        }

## 1011 [/1011]

+ Model (application/json)

        {
            "code": 1011,
            "message": "Business id is invalid"
        }

## 1380 [/1380]

+ Model (application/json)

        {
            "code": 1380,
            "message": "Api key or session token missing"
        }

## 1048 [/1048]

+ Model (application/json)

        {
            "code": 1048,
            "message": "Business email id cannot be blank."
        }

## 1049 [/1049]

+ Model (application/json)

        {
            "code": 1049,
            "message": "Business email id is invalid."
        }

## 1050 [/1050]

+ Model (application/json)

        {
            "code": 1050,
            "message": "Business email id cannot be more than 40 characters."
        }

## 1055 [/1055]

+ Model (application/json)

        {
            "code": 1055,
            "message": "Not a valid US phone number."
        }

## 1056 [/1056]

+ Model (application/json)

        {
            "code": 1056,
            "message": "Not a valid US fax number."
        }


## 1069 [/1069]

+ Model (application/json)

        {
            "code": 1069,
            "message": "Business description cannot be more than 4000 characters."
        }

## 1070 [/1070]

+ Model (application/json)

        {
            "code": 1070,
            "message": "Business keywords cannot be more than 1000 characters."
        }

## 1089 [/1089]

+ Model (application/json)

        {
            "code": 1089,
            "message": "Customer id is invalid."
        }

## 1091 [/1091]

+ Model (application/json)

        {
            "code": 1091,
            "message": "User id not authorized to view this customer."
        }

## 1190 [/1190]

+ Model (application/json)

        {
            "code": 1190,
            "message": "Invalid category"
        }

## 1184 [/1184]

+ Model (application/json)

        {
            "code": 1184,
            "message": "Status change is not allowed"
        }

## 1191 [/1191]

+ Model (application/json)

        {
            "code": 1191,
            "message": "Invalid status."
        }

## 1174 [/1174]

+ Model (application/json)

        {
            "code": 1174,
            "message": "Reseller can't be removed as it has child accounts."
        }

## 1160 [/1160]

+ Model (application/json)

        {
            "code": 1160,
            "message": "User is already associated with business."
        }

## 1053 [/1053]

+ Model (application/json)

        {
            "code": 1053,
            "message": "User email id is invalid"
        }

## 1054 [/1054]

+ Model (application/json)

        {
            "code": 1054,
            "message": "User email id cannot be more than 40 characters"
        }

## 1014 [/1014]

+ Model (application/json)

        {
            "code": 1014,
            "message": "User role cannot be blank"
        }


## 1013 [/1013]

+ Model (application/json)

        {
            "code": 1013,
            "message": "Unknown user role"
        }


## 1057 [/1057]

+ Model (application/json)

        {
            "code": 1057,
            "message": "First name cannot be more than 50 characters"
        }

## 1059 [/1059]

+ Model (application/json)

        {
            "code": 1059,
            "message": "Last name cannot be more than 50 characters"
        }

## 1188 [/1188]

+ Model (application/json)

        {
            "code": 1188,
            "message": "User is not associated with the business."
        }


## 1189 [/1189]

+ Model (application/json)

        {
            "code": 1189,
            "message": "User with given email id not found."
        }

## 1177 [/1177]

+ Model (application/json)

        {
            "code": 1177,
            "message": "User is not authorized to perform any action on any business"
        }

## 1081 [/1081]

+ Model (application/json)

        {
            "code": 1081,
            "message": "Review comment is too long"
        }


## 1082 [/1082]

+ Model (application/json)

        {
            "code": 1082,
            "message": "Review rating is missing"
        }

## 1142 [/1142]

+ Model (application/json)

        {
            "code": 1142,
            "message": "Customer name cannot be blank"
        }


## 1086 [/1086]

+ Model (application/json)

        {
            "code": 1086,
            "message": "Customer email id cannot be blank."
        }

## 1087 [/1087]

+ Model (application/json)

        {
            "code": 1087,
            "message": "Customer email id is invalid."
        }

## 1088 [/1088]

+ Model (application/json)

        {
            "code": 1088,
            "message": "Customer email id cannot be more than 40 characters."
        }

## 1170 [/1170]

+ Model (application/json)

        {
            "code": 1170,
            "message": "SMS Alert flag is invalid. Valid values are 0 or 1."
        }

## 1242 [/1242]

+ Model (application/json)

        {
            "code": 1242,
            "message": "Invalid rating value. Allowed value between 0-5."
        }


## 1228 [/1228]

+ Model (application/json)

        {
            "code": 1228,
            "message": "Invalid updated to date. Allowed format is MM/dd/yyyy"
        }

## 1227 [/1227]

+ Model (application/json)

        {
            "code": 1227,
            "message": "Invalid updated from date. Allowed format is MM/dd/yyyy"
        }


## 1243 [/1243]

+ Model (application/json)

        {
            "code": 1243,
            "message": "Invalid rating value. Allowed value between 1-5."
        }

## 1244 [/1244]

+ Model (application/json)

        {
            "code": 1244,
            "message": "Maximum 5 keywords can be selected for filter."
        }

## 1246 [/1246]

+ Model (application/json)

        {
            "code": 1246,
            "message": "Customer email or phone number is required."
        }

## 1215 [/1215]

+ Model (application/json)

        {
            "code": 1215,
            "message": "Invalid report month."
        }

## 1251 [/1251]

+ Model (application/json)

        {
            "code": 1251,
            "message": "No review to mark featured/un-featured."
        }

## 1042 [/1042]

+ Model (application/json)

        {
            "code": 1042,
            "message": "Invalid review id"
        }

## 1252 [/1252]

+ Model (application/json)

        {
            "code": 1252,
            "message": "Review does not belong to the business."
        }

## 1248 [/1248]

+ Model (application/json)

        {
            "code": 1248,
            "message": "Allowed limit for featured reviews exceeded."
        }

## 1186 [/1186]

+ Model (application/json)

        {
            "code": 1186,
            "message": "Invalid from date. Allowed format is "MM/dd/yyyy"."
        }

## 1187 [/1187]

+ Model (application/json)

        {
            "code": 1187,
            "message": "Invalid to date. Allowed format is "MM/dd/yyyy"."
        }

## 1265 [/1265]

+ Model (application/json)

        {
            "code": 1265,
            "message": "Value for showOnFacebook is mandatory."
        }

## 1266 [/1266]

+ Model (application/json)

        {
            "code": 1266,
            "message": "Value for showOnProfile is mandatory."
        }

## 1267 [/1267]

+ Model (application/json)

        {
            "code": 1267,
            "message": "Value for showOnWebsite is mandatory."
        }

## 1268 [/1268]

+ Model (application/json)

        {
            "code": 1268,
            "message": "TabType is mandatory field."
        }

## 1269 [/1269]

+ Model (application/json)

        {
            "code": 1269,
            "message": "Max length for lable is 30."
        }

## 1270 [/1270]

+ Model (application/json)

        {
            "code": 1270,
            "message": "Max length for URL is 1000."
        }

## 1360 [/1360]

+ Model (application/json)

        {
            "code": 1360,
            "message": "Hierarchy is not supported for this parent type."
        }

## 1361 [/1361]

+ Model (application/json)

        {
            "code": 1361,
            "message": "Hierarchy is not supported for this child type."
        }

## 1362 [/1362]

+ Model (application/json)

        {
            "code": 1362,
            "message": "{Child type} cannot be added under {Parent type}."
        }

## 1363 [/1363]

+ Model (application/json)

        {
            "code": 1363,
            "message": "Invalid parent child mapping."
        }


## 1029 [/1029]

+ Model (application/json)

        {
            "code": 1029,
            "message": "Aggregation source not found"
        }

## 1315 [/1315]

+ Model (application/json)

        {
            "code": 1315,
            "message": "Invalid survey."
        }

## 1523 [/1523]

+ Model (application/json)

        {
            "code": 1523,
            "message": "The correct date format should be mm/dd/yyyy."
        }


## 1524 [/1524]

+ Model (application/json)

        {
            "code": 1524,
            "message": "Date entered is invalid."
        }

## 2110 [/2110]

+ Model (application/json)

        {
            "code": 2110,
            "message": "Your review response could not be submitted due to a temporary error on Google. Please try after some time."
        }

## 21101 [/21101]

+ Model (application/json)

        {
            "code": 21101,
            "message": "Google page is not integrated. Kindly integrate it first."
        }

## 21103 [/21103]

+ Model (application/json)

        {
            "code": 21103,
            "message": "Your review response could not be submitted due to a temporary error on Google."
        }

## 21104 [/21104]

+ Model (application/json)

        {
            "code": 21104,
            "message": "Sorry, We could not find this review on Google. Please go to your Google Business page and reply to this review. Thank you."
        }

## 2111 [/2111]

+ Model (application/json)

        {
            "code": 2111,
            "message": "Your review response could not be submitted due to a temporary error on Facebook. Please try after some time."
        }

## 21113 [/21113]

+ Model (application/json)

        {
            "code": 21113,
            "message": "Facebook page is not integrated. Kindly integrate it first."
        }

## 21114 [/21114]

+ Model (application/json)

        {
            "code": 21114,
            "message": "Sorry, We could not find this review on Facebook. Please go to your Facebook page and reply to this review. Thank you."
        }

## 21112 [/21112]

+ Model (application/json)

        {
            "code": 21112,
            "message": "Your review response could not be submitted due to a temporary error on Facebook."
        }

## 2222 [/2222]

+ Model (application/json)

        {
            "code": 2222,
            "message": "Oops! Something is off on our side. We are working on it. Please check later."
        }

## 2075 [/2075]

+ Model (application/json)

        {
            "code": 2075,
            "message": "Error while claiming a provider for Care Dash"
        }

## 20706 [/20706]

+ Model (application/json)

        {
            "code": 20706,
            "message": "Error while posting a reply to Care Dash"
        }

## 2078 [/2078]

+ Model (application/json)

        {
            "code": 2078,
            "message": "Error while posting a reply to Rent"
        }

## 1541 [/1541]

+ Model (application/json)

        {
            "code": 1541,
            "message": "Rate Limit of API has been exceeded."
        }

## 1532 [/1532]

+ Model (application/json)

        {
            "code": 1532,
            "message": "Business id is missing or invalid."
        }

## 5008 [/5008]

+ Model (application/json)

        {
            "code": 5008,
            "message": "RequestBody not found"
        }

## 5043 [/5043]

+ Model (application/json)

        {
            "code": 5043,
            "message": "Contact not found for the given request"
        }

## 2038 [/2038]

+ Model (application/json)

        {
            "code": 2038,
            "message": "Invalid value of role, expected editor, viewer or no-access"
        }

## 2041 [/2041]

+ Model (application/json)

        {
            "code": 2041,
            "message": "Can't modify owner or existing owner's access!"
        }

## 2039 [/2039]

+ Model (application/json)

        {
            "code": 2039,
            "message": "User email is missing in user access request!"
        }

## 2043 [/2043]

+ Model (application/json)

        {
            "code": 2043,
            "message": "Invalid value of showTitle, accepted values are CUSTOM, LOCATION, OFF"
        }

## 2090 [/2090]

+ Model (application/json)

        {
            "code": 2090,
            "message": "Invalid value of showLogo, accepted values are ON, OFF"
        }

## 2040 [/2040]

+ Model (application/json)

        {
            "code": 2040,
            "message": "Invalid value of progress bar position, expected Bottom or Top"
        }

## 2042 [/2042]

+ Model (application/json)

        {
            "code": 2042,
            "message": "Received no valid inputs in request body!"
        }

## 2037 [/2037]

+ Model (application/json)

        {
            "code": 2037,
            "message": "The survey doesn't belong to the account."
        }

## 2044 [/2044]

+ Model (application/json)

        {
            "code": 2044,
            "message": "Survey already completed"
        }

## 2093 [/2093]

+ Model (application/json)

        {
            "code": 2093,
            "message": "Survey Field Type passed is unknown"
        }

## 2045 [/2045]

+ Model (application/json)

        {
            "code": 2045,
            "message": "Invalid Survey Type"
        }

## 2046 [/2046]

+ Model (application/json)

        {
            "code": 2046,
            "message": "Min Value is greater then Max Value"
        }

## 2047 [/2047]

+ Model (application/json)

        {
            "code": 2047,
            "message": "Survey Fields Missing!"
        }

## 2048 [/2048]

+ Model (application/json)

        {
            "code": 2048,
            "message": "Field Rows Missing"
        }

## 2049 [/2049]

+ Model (application/json)

        {
            "code": 2049,
            "message": "Interval can only be 30 min or 60 min"
        }

## 2050 [/2050]

+ Model (application/json)

        {
            "code": 2050,
            "message": "More than one location question cannot be present"
        }

## 2051 [/2051]

+ Model (application/json)

        {
            "code": 2051,
            "message": "More than one review question cannot be present"
        }

## 2052 [/2052]

+ Model (application/json)

        {
            "code": 2052,
            "message": "Review question should be present in the last page of the survey as a single question"
        }

## 2053 [/2053]

+ Model (application/json)

        {
            "code": 2053,
            "message": "Contact Fields are not present"
        }

## 2054 [/2054]

+ Model (application/json)

        {
            "code": 2054,
            "message": "Min Value out of range"
        }

## 2055 [/2055]

+ Model (application/json)

        {
            "code": 2055,
            "message": "Max Value out of range"
        }

## 2056 [/2056]

+ Model (application/json)

        {
            "code": 2056,
            "message": "Min and Max values can only be even numbers when the interval is 60 minutes"
        }

## 2057 [/2057]

+ Model (application/json)

        {
            "code": 2057,
            "message": "Either one of Min and Max values is missing in datetime type question"
        }

## 2058 [/2058]

+ Model (application/json)

        {
            "code": 2058,
            "message": "LocationIds are not present"
        }

## 2059 [/2059]

+ Model (application/json)

        {
            "code": 2059,
            "message": "Invalid type of contact question"
        }

## 2060 [/2060]

+ Model (application/json)

        {
            "code": 2060,
            "message": "reviewSources are not present for review type question"
        }

## 2061 [/2061]

+ Model (application/json)

        {
            "code": 2061,
            "message": "Pickone type of survey can only contain pickone type questions"
        }

## 2062 [/2062]

+ Model (application/json)

        {
            "code": 2062,
            "message": "Traditional type survey cannot contain these type questions"
        }

## 2063 [/2063]

+ Model (application/json)

        {
            "code": 2063,
            "message": "Pulse(NPS) Survey can only contain radio, text, textarea(paragraph), rating and nps type questions"
        }

## 2064 [/2064]

+ Model (application/json)

        {
            "code": 2064,
            "message": "First page of the survey must contain atleast one question except review question"
        }

## 2065 [/2065]

+ Model (application/json)

        {
            "code": 2065,
            "message": "There cannot be more than 3 sourceIds for review question"
        }

## 2066 [/2066]

+ Model (application/json)

        {
            "code": 2066,
            "message": "BusinessIds passed in the location type question are invalid"
        }

## 2067 [/2067]

+ Model (application/json)

        {
            "code": 2067,
            "message": "One of the locations passed in the request is not present"
        }

## 2068 [/2068]

+ Model (application/json)

        {
            "code": 2068,
            "message": "The locationIds are Non-Parseable"
        }

## 2069 [/2069]

+ Model (application/json)

        {
            "code": 2069,
            "message": "surveyName is Mandatory"
        }

## 2070 [/2070]

+ Model (application/json)

        {
            "code": 2070,
            "message": "Question Type cannot be blank"
        }

## 2071 [/2071]

+ Model (application/json)

        {
            "code": 2071,
            "message": "Invalid ownerEmailId"
        }

## 2072 [/2072]

+ Model (application/json)

        {
            "code": 2072,
            "message": "Choice cannot be a blank string"
        }

## 2073 [/2073]

+ Model (application/json)

        {
            "code": 2073,
            "message": "Logic type is Invalid!"
        }

## 2074 [/2074]

+ Model (application/json)

        {
            "code": 2074,
            "message": "Cannot contain a logic"
        }

## 2092 [/2092]

+ Model (application/json)

        {
            "code": 2092,
            "message": "Invalid Logic!"
        }

## 2076 [/2076]

+ Model (application/json)

        {
            "code": 2076,
            "message": "Value of the logic is not present in the choices of Question"
        }

## 2077 [/2077]

+ Model (application/json)

        {
            "code": 2077,
            "message": "Value of a questionLogic field cannot be blank"
        }

## 2091 [/2091]

+ Model (application/json)

        {
            "code": 2091,
            "message": "Operator Invalid"
        }

## 2079 [/2079]

+ Model (application/json)

        {
            "code": 2079,
            "message": "Only one Skip logic is allowed for text and textarea type questions"
        }

## 2080 [/2080]

+ Model (application/json)

        {
            "code": 2080,
            "message": "Display Logic Invalid!"
        }

## 2081 [/2081]

+ Model (application/json)

        {
            "code": 2081,
            "message": "Skip Logic Invalid!"
        }

## 2082 [/2082]

+ Model (application/json)

        {
            "code": 2082,
            "message": "The API returned an empty response."
        }

## 2083 [/2083]

+ Model (application/json)

        {
            "code": 2083,
            "message": "Source is not integrated with the business"
        }

## 2084 [/2084]

+ Model (application/json)

        {
            "code": 2084,
            "message": "Opeartor must be present for logics other than the first display logic"
        }

## 2085 [/2085]

+ Model (application/json)

        {
            "code": 2085,
            "message": "Condition cannot be null!"
        }

## 2086 [/2086]

+ Model (application/json)

        {
            "code": 2086,
            "message": "Question Number cannot be null"
        }

## 2087 [/2087]

+ Model (application/json)

        {
            "code": 2087,
            "message": "Duplicate contact sub type question is present"
        }

## 2088 [/2088]

+ Model (application/json)

        {
            "code": 2088,
            "message": "Review Source already present"
        }

## 2094 [/2094]

+ Model (application/json)

        {
            "code": 2094,
            "message": "ReviewSources passed are invalid"
        }

## 2095 [/2095]

+ Model (application/json)

        {
            "code": 2095,
            "message": "ownerEmailId cannot be null"
        }

## 2096 [/2096]

+ Model (application/json)

        {
            "code": 2096,
            "message": "Detected conflicting user-access request!"
        }

## 2347 [/2347]

+ Model (application/json)

        {
            "code": 2347,
            "message": "Max page size allowed is 1,000"
        }



## 2348 [/2348]

+ Model (application/json)

        {
            "code": 2348,
            "message": "Max window size allowed is 60000 for a filter selection"
        }

## 21122 [/21122]

+ Model (application/json)

        {
            "code": 21122,
            "message": "Reseller business is not supported in this request"
        }

## 21120 [/21120]

+ Model (application/json)

        {
            "code": 21120,
            "message": "Invalid contact type provided in the request. Valid contact types are lead or customer"
        }

## 21121 [/21121]

+ Model (application/json)

        {
            "code": 21121,
            "message": "Invalid contact source provided in the request."
        }

## 5046 [/5046]

+ Model (application/json)

        {
            "code": 5046,
            "message": "The customer is blocked"
        }

## 1021 [/1021]

+ Model (application/json)

        {
            "code": 1021,
            "message": "Invalid Phone Number."
        }

## 1001 [/1001]

+ Model (application/json)

        {
            "code": 1001,
            "message": "Name of the contact is too long."
        }


## 1422 [/1422]

+ Model (application/json)

        {
            error"code": 1422,
            error"message": "Api call failed"
        }


## 5556 [/5556]

+ Model (application/json)

        {
            "code": 5556,
            "message": "One or few BusinessIds are Invalid"
        }


## 5557 [/5557]

+ Model (application/json)

        {
            "code": 5557,
            "message": "Requested Business Ids are empty."
        }

## 400 [/400]

+ Model (application/json)

        {
            "code": 400,
            "message": "Page size must not be less than one!"
        }


## 4011 [/4011]

+ Model (application/json)

        {
            "code": 400,
            "message": "Category Id not found"
        }

## 4012 [/4012]

+ Model (application/json)

        {
            "code": 400,
            "message": "Country code not found"
        }

## 4013 [/4013]

+ Model (application/json)

        {
            "code": 400,
            "message": "Invalid country code"
        }


## 4014 [/4014]

+ Model (application/json)

        {
            "code": 400,
            "message": "Source name not found"
        }

## 4015 [/4015]

+ Model (application/json)

        {
            "code": 400,
            "message": "Invalid Source Name"
        }


## 20083 [/20083]

+ Model (application/json)

        {
            "code": 20083,
            "message": "End date can't be before start date"
        }

## 2180 [/2180]

+ Model (application/json)

        {
            "code": 2180,
            "message": "The recommended Image size for Google media image is 250 pixels wide and 250 pixels tall."
        }

## 2181 [/2181]

+ Model (application/json)

        {
            "code": 2181,
            "message": "Supported video format is MP4."
        }

## 2174 [/2174]

+ Model (application/json)

        {
            "code": 2174,
            "message": "Unsupported media format"
        }

## 2171 [/2171]

+ Model (application/json)

        {
            "code": 2171,
            "message": "URL is invalid"
        }

## 2175 [/2175]

+ Model (application/json)

        {
            "code": 2175,
            "message": "Provided media category is not supported"
        }


## 2270 [/2270]

+ Model (application/json)

        {
            "code": 2270,
            "message": "Unsupported Media Category for the business"
        }


## 2176 [/2176]

+ Model (application/json)

        {
            "code": 400,
            "message": "Category can not be empty"
        }

## 2457 [/2457]

+ Model (application/json)

        {
            "code": 2457,
            "message": "Invalid sortby value. Allowed values are 'frequency' or 'keyword'"
        }

## 2458 [/2458]

+ Model (application/json)

        {
            "code": 2458,
            "message": "Invalid order value. Allowed values are 'asc' or 'desc'."
        }

## 2177 [/2177]

+ Model (application/json)

        {
            "code": 400,
            "message": "Invalid media id"
        }

## 2178 [/2178]

+ Model (application/json)

        {
            "code": 400,
            "message": "mediaIds can not be empty"
        }

## 1093 [/1093]

+ Model (application/json)

        {
            "code": 1093,
            "message": "HierarchyNode is enabled for this account."
        }

## 2150 [/2150]

+ Model (application/json)

        {
            "code": 2150,
            "message": "Not a valid reseller/enterprise id."
        }

## 2151 [/2151]

+ Model (application/json)

        {
            "code": 2151,
            "message": "Not a valid reseller/enterprise id."
        }

## 2152 [/2152]

+ Model (application/json)

        {
            "code": 2152,
            "message": "Not a valid reseller/enterprise id."
        }

## 2153 [/2153]

+ Model (application/json)

        {
            "code": 2153,
            "message": "Business name should not have the word Birdeye."
        }

## 2154 [/2154]

+ Model (application/json)

        {
            "code": 2154,
            "message": "Business is already an active account."
        }

## 2155 [/2155]

+ Model (application/json)

        {
            "code": 2155,
            "message": "Business is already an in-active account."
        }

## 2156 [/2156]

+ Model (application/json)

        {
            "code": 2156,
            "message": "Business/Location/Product already exists"
        }


## 2157 [/2157]

+ Model (application/json)

        {
            "code": 2157,
            "message": "Business already associated with another reseller/enterprise."
        }
## 2286 [/2286]

+ Model (application/json)

        {
            "code": 2286,
            "message": "Zip code is not provided for business"
        }
## 2166 [/2166]

+ Model (application/json)

        {
            "code": 2166,
            "message": "Invalid Business Type"
        }
## 2292 [/2292]

+ Model (application/json)

        {
            "code": 2292,
            "message": "sortby can only be 'total' or 'location'"
        }
## 2293 [/2293]

+ Model (application/json)

        {
            "code": 2293,
            "message": "order can only be 'asc' or 'desc'"
        }
## 40001 [/40001]

+ Model (application/json)

        {
            "code": 40001,
            "message": "invalid start date (supported format is yyyy-MM-dd)"
        }

## 2296 [/2296]

+ Model (application/json)

        {
            "code": 2296,
            "message": "Invalid Food Delivery link"
        }

## 2297 [/2297]

+ Model (application/json)

        {
            "code": 2297,
            "message": "Invalid Food Takeout link"
        }

## 2290 [/2290]

+ Model (application/json)

        {
            "code": 2290,
            "message": "Food Takeout/Food Delivery not supported for gmb primary category"
        }
        
## 2476 [/2476]

+ Model (application/json)

        {
            "code": 2476,
            "message": "Question Id cannot be blank"
        }
## 2477 [/2477]

+ Model (application/json)

        {
            "code": 2477,
            "message": "Answer Id is required to update existing answer"
        }
## 2478 [/2478]

+ Model (application/json)

        {
            "code": 2478,
            "message": "Question is required"
        }
## 2479 [/2479]

+ Model (application/json)

        {
            "code": 2479,
            "message": "Answer is required"
        }
## 2480 [/2480]

+ Model (application/json)

        {
            "code": 2480,
            "message": "Cannot modify non owner Q&A"
        }
## 2482 [/2482]

+ Model (application/json)

        {
            "code": 2482,
            "message": "Question Id is Invalid"
        }
## 2481 [/2481]

+ Model (application/json)

        {
            "code": 2481,
            "message": "Q&A cannot be more than 4096 characters"
        }
## 2485 [/2485]

+ Model (application/json)

        {
            "code": 2485,
            "message": "Questions should be 10 characters minimum"
        }
## 2483 [/2483]

+ Model (application/json)

        {
            "code": 2483,
            "message": "Question should have minimum 3 words"
        }
## 2484 [/2484]

+ Model (application/json)

        {
            "code": 2484,
            "message": "Answer Id cannot be blank"
        }
## 2461 [/2461]

+ Model (application/json)

        {
            "code": 2461,
            "message": "No question found with provided request"
        }
## 2462 [/2462]

+ Model (application/json)

        {
            "code": 2462,
            "message": "Owner answer already added please edit answer"
        }
## 2466 [/2466]

+ Model (application/json)

        {
            "code": 2466,
            "message": "Invalid input request"
        }

## 3333 [/3333]

+ Model (application/json)

        {
            "code": 1043,
            "message": "Business should be either SMB or Enterprise sub account"
        }



# Group Business
Create and maintain your business on Birdeye.

## Create Business [/v1/signup/reseller/subaccount{?api_key,rid,email_id}]
Create a business API creates a new business under a reseller.

### Create a business [POST]

+ Parameters

    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.
    + rid: 12334667201 (required, number) - Id of the Reseller.
    + email_id: sample@birdeye.com (required, string) - Business Email id.

+ Request (application/json)


    + Headers

            Accept: application/json


    + Body

            {
                "businessName": "The Business Name",
                "zip": 32323,
                "type": "Business",
                "phone": "4032365164",
                "countryCode": "US"
                "aggrOptions" : 1
            }

    + Attributes

        + businessName: Test Business (required,string)- Name of the Business that needs to be added
        + zip: 32323 (required,string)- Postal code of the business location
        + type: Business (string)- Type of the Business. Valid values are
                Business,
                Enterprise-Location,
                Enterprise-Product,
                Reseller
                or a existing custom hierarchy type. Default is: Business.
        + phone: 4032365164 (required,number)- Phone number of the Business.
        + countryCode: AU (string) - This field is mandatory for non US locations.
        + aggrOptions:1 (number)- Aggregation Options to enable/disable aggregations. Possible values are [0,1]
                0 to Disable Search Business
                1 to Enable Search Business,

            If aggrOptions is not provided, then Search Business is enabled.


+ Response 200 (application/json)

    + Attributes

        + businessId:653356544 (number)- Id of the created business

    + Body

            {
               "businessId": 653356544
            }

+ Response 401

    [1161][]

+ Response 401

    [1167][]

+ Response 429

    [89][]

+ Response 401

    [1033][]

+ Response 404

    [1175][]

+ Response 404

    [1010][]

+ Response 400

    [1076][]

+ Response 400

    [1052][]

+ Response 400

    [1150][]

+ Response 400

    [1151][]

+ Response 400

    [1045][]

+ Response 400

    [1046][]

+ Response 400

    [1047][]

+ Response 400

    [1094][]

+ Response 400

    [1075][]

+ Response 400

    [1025][]

+ Response 400

    [1055][]
+ Response 400

    [1093][]

+ Response 400

    [2150][]

+ Response 400

    [2151][]

+ Response 400

    [2152][]

+ Response 400

    [2153][]

+ Response 400

    [2154][]

+ Response 400

    [2155][]

+ Response 400

    [2156][]

+ Response 400

    [2157][]

+ Response 400

    [2286][]

+ Response 400

    [2166][]


## Search [/v1/business/{businessNumber}/search]

Search Business API searches a business using a name or number. Partial name matching is also supported by API.


### Search Business [POST]

+ Parameters

    + businessNumber: 169744180007807 (required, number) - Long id of the business, under which user wants to search for.



+ Request (application/json)

    + Headers

            Accept: application/json
            api_key: [Required] Partner specific API key provided by Birdeye for data exchange.

    + Body

            {
                "pageSize": 25,
                "searchStr": "Thurston Rosenlund",
                "sortBy": "createdAt",
                "sortOrder": "ASC",
                "startIndex": 0
            }


    + Attributes

        + searchStr: Thurston Rosenlund (string)- Search criteria for business. This could be business name or number.
        + sortBy: createdAt (string)- Results can be sorted by name, createdAt, and createdBy. By default is createdAt.
            name : The business name

            createdAt: The date on which a business/location was created.

            createdBy: The full name of the user that created the business.
        + sortOrder: ASC (string)- The SORT order, Possible values "ASC" or "DESC". By default is "DESC".
        + startIndex: 0 (number)- Once sorted, it defines starting from which index a page (number of specified search results) is to be created.
        + pageSize: 25 (number)- Determines the number of search results in the response. Users can set a desired value to limit results, e.g., pageSize=25 shows the top 25 business listings. The Default value is 25.




+ Response 200 (application/json)

    + Attributes

        + totalCount: 101 (number) - The total number of search matches.
        + accounts (array) - Search results
            + (object)
                + name : Thurston Rosenlund (string) - The business name
                + status : active (string) - The business status - active, demo, paid, suspended etc.
                + createdAt: May 01, 2013 (string) - The date of business (or location) creation.
                + createdBy: Sam Bilings (string) - Full name of the user who created the business (or location).
                + businessNumber: 169744180007807 (string) - Unique number associated with every business (or location).
                + type: SMB (string)- Returned in case of resellers, specifies whether account is SMB, enterprise, or reseller




    + Body

            {
                "accounts": [
                {
                    "name": "Thurston Rosenlund",
                    "status": "suspended",
                    "createdAt": "May 01, 2013",
                    "createdBy": "Sam Bilings",
                    "businessNumber": 396982176121,
                    "type": "Business"
                },
                {
                    "name": "Aspen Springs Dental",
                    "status": "paid",
                    "createdAt": "May 20, 2013",
                    "businessNumber": 106026111239,
                    "type": "Business"
                },
                {
                    "name": "Cherry Creek Family Dental",
                    "status": "paid",
                    "createdAt": "May 20, 2013",
                    "businessNumber": 379451236128,
                    "type": "Business"
                }],
                "totalCount": 44
            }


+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 400

    [400][]



## Get [/v1/business/{business_id}{?api_key}]
Get Business API gets business information, including product features opted and profile information.


### Get Business [GET]

+ Parameters
    + business_id: 12345678 (string, required) - Id of the Business.
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.


+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200 (application/json)

    + Attributes

        + businessId: 12345678 (number) - Id of the Business (Long).
        + name: Drs. Chalker and Peterson, A Dental Partnership (string) - Name of the Business/Product (Max 1000 character long).
        + alias: Drs. Chalker (string) - Alias, Your internal way of identifying this location.
        + emailId: Business (string) - Business Email ID.
        + phone (string) - Business Phone (Required) Format is (xxx) xxx-xxxx.
        + fax (string)- Fax number Format is (xxx) xxx-xxxx.
        + websiteUrl: www.dentistinatascadero.com (string)- Business website url.
        + description: *State of the Art Equipment *Serving North County Since 1976 *Gentle Care *Knowledgeable Staff (string)- Description of the business (10 to 4000 character long).
        + services: Other Dental Specialties, Orthodontists, Dentistry (required,string)- Services (Comma separated list of services offered; used for SEO).
        + keywords: Dentists Atascadero CA, Other Dental Specialties Atascadero CA, Orthodontists Atascadero CA (string)- Keywords (Comma separated list of keywords; Max 10 keywords; used for SEO).
        + logoUrl: http://bzimages-prod.s3.amazonaws.com/669029760/Logo 180 X 121.png (string) - Logo Image. Minimum 250 x 250px. Recommended: 720 X 720 px. 10 KB min.
        + coverImageUrl: http://bzimages-prod.s3.amazonaws.com/669029760/California Foothills 951 X 351.jpg (string)- Cover Image (Dimension should be 995 x 316 px).
        + gmbCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/abcd.jpg (string) - Google Cover Image Url.
        + facebookCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/fb.jpg (string) - Facebook Cover Image Url.
        + timezone: Pacific Standard Time (string)- Timezone of the business.
        + languages: English,Spanish (array)- Language.
        + isServiceAreaProvider: Yes (string) - To select whether the business is Service Area Business Type. Default value is : No. Possible values are:
                                    Yes
                                    No
        + serviceAreas (array) - Service Area information.
            + (object)
                + description: New York, NY, USA (string)  - Description about the Service Area.
                + placeId: ChIJ9YahAOasdwRSt7QSj (string)  - Place Id.
        + payment: Paypal, Visa, Master Card (string) - Payment Type (Max 250 character long).
        + hoursOfOperations (array) - Working hours of business for each day.
            + (object)
                + day: 5 (number) - 0(Monday), 1(Tuesday), 2(Wednesday) and so on.
                + workingHours (array) - Working hours of the business
                    + (object)
                        + startHour: 7:00 (string) - Start hour 9:00 (9 AM), 18:00 (6 PM)
                        + endHour: 17:30 (string) - End hour  9:00 (9 AM), 18:00 (6 PM)
                + isOpen: 1 (number) - 0 (Business closed today), 1 (open)
                + comment: By appointment only (string) - Add the special instruction.
        + working24x7: 0 (number) - Whether business is 24x7 open or not (0-false, 1-true).
        + location (object) - Business address
            + address1: 7405 Morro Rd (string) - Address of the business.
            + address2: Suite 102 (string) - Address of the business.
            + city: Atascadero (string) - City (Max 1000 character long).
            + state: CA (string) - State (2 character state code).
            + countryCode: US (string) - Country Code (2 character country code).
            + zip: 93422 (required,string) - Zip Code.
        + reviewCount: 105 (number)- Total review count of the business.
        + avgRating: 4.9 (number)- Average rating of the business.
        + status: demo (string) - Business status. Valid values are demo, active, inactive. Default is
        + type:Business (string)- Business type. Valid values are "Business, Enterprise-Location, Enterprise-Product, Reseller or a existing custom hierarchy type". Default is:
        + category: Dentist,Dental,Doctor (string) - Category (Mapped to Google Category).
        + socialProfileURLs (object) - Profile URLs for business on top rated social sites
            + facebookUrl: http://www.facebook.com/ChalkerandPetersonDental (string) - Facebook URL.
            + twitterUrl: https://twitter.com/DrsChaAndPet (string) - Business Twitter URL.
            + linkedInUrl: https://linkedin.com/DrsChaAndPet (string) - Business LinkedId URL.
            + googleUrl: https://plus.google.com/103957250846354895095/about?gl=US&hl=en-US (string)- Business Google URL.
            + youTubeUrl: https://www.youtube.com/channel/UCDNP0M75ySA5qt0So2F8Xxw (string)- Business Youtube URL.
        + isSEOEnabled: true (boolean) - Enable/Disbale search engine indexing of business profile. Valid values are "true","false". Default is "true"


    + Body

            {
                "businessId": 12345678,
              "name": "Dieci Lifestyle Spa",
              "alias": "Dieci Lifestyle Spa - Livingston, NJ",
              "emailId": "4568@livelovespa.com",
              "phone": "(973) 716-0101",
              "fax": "(973) 716-0102",
              "websiteURL": "http://www.diecispa.com/",
              "description": "Specialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
              "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "services": "Beauty Salon, Hair Spa",
              "logoURL": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg",
              "coverImageURL": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg",
              "gmbCover": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/abcd.jpg",
              "facebookCover": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/fb.jpg",
              "timezone": "Pacific Standard Time",
              "isServiceAreaProvider": "Yes",
                "serviceAreas": [
                {
                    "description": "2390 Boston Street, Seattle, WA, 98109",
                    "placeId": "ChIJ9YasdSKZs0wRSt--7QSjsd3"
                },
                {
                    "description": "400 Boston Street, Seattle, WA, 98109",
                    "placeId": "ChIJ9aasdAOKZasdaSt--7QsdLja4"
                }],
              "languages": [
                "English",
                "Spanish"
              ],
              "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
              "hoursOfOperations": [
                {
                  "day": "0",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "1",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "2",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "3",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "4",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "5",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "6",
                  "isOpen": 0
                }
              ],
              "working24x7": 0,
              "location": {
                "address1": "90 W Mount Pleasant Ave",
                "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
                "city": "Livingston",
                "state": "NJ",
                "zip": "07039",
                "countryCode": "US",
                "countryName": "United States of America"
              },
              "reviewCount": 53,
              "avgRating": 3.4,
              "status":"active",
              "type":"Business",
              "category": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "socialProfileURLs": {
                "googleUrl": "null",
                "facebookUrl": null,
                "twitterUrl": null,
                "linkedinUrl": null,
                "youTubeUrl":null
              },
              "isSEOEnabled": "false",
              "baseUrl": "https://birdeye.com/diecispa-755009344"
            }

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 404

    [1011][]

+ Response 401

    [1167][]


## Update [/v1/business/{businessId}{?api_key}]
Update Business API updates business information.

### Update Business [PUT]

+ Parameters
    + businessId: 12345678 (string, required) - The Business Number
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

        + name: Drs. Chalker and Peterson, A Dental Partnership (string) - Name of the Business/Product (Max 250 character long).
        + alias: Drs. Chalker (string) - Alias, Your internal way of identifying this location.
        + isAddressHidden: 0 (number) - If your business doesn’t have a place for your customers to visit, then you can hide your street address. 1 -> hide, 0 -> unhide (Note that this isn’t supported by all sites).
        + location (object) - Business address
            + address1: 7405 Morro Rd (string) - Address of the business/location.
            + address2: Suite 102 (string) - Address of the business/location.
            + city: Atascadero (string) - City (Max 1000 character long).
            + state: CA (string) - State (2 character state code).
            + countryCode: US (string) - Country Code (2 character country code).
            + zip: 93422 (required,string) - Zip Code.
        + emailId: Business (required,string) - Business Email ID.
        + phone (required,string) - Business Phone (Required) Format is (xxx) xxx-xxxx.
        + fax (string)- Fax number Format is (xxx) xxx-xxxx.
        + websiteUrl: www.dentistinatascadero.com (string)- Business website url.
        + establishedYear: 2012 (number) - Year established
        + timezone: Pacific Standard Time (string)- Timezone of the business.
        + languages: English,Spanish (array)- Language.
        + isServiceAreaProvider: Yes (string) - To select whether the business is Service Area Business Type. Default value is : No.
                          Possible values are:
                                        Yes
                                        No
        + serviceAreas (array) - Service Area information. You can enter upto 10 service area addresses in one request
            + (object)
                + description: 400 Boston Street, Seattle, WA, 98109 (string)  - For supported service areas, Possible formats:
                                    1. Apartment Name/ Suite Name, Street Name/ Locality, City, State, ZIP
                                    2. Street Name/ Locality, City, State, ZIP

        + working24x7: 0 (number) - Whether business is 24x7 open or not (0-false, 1-true).
        + hoursOfOperations (array) - Working hours of business for each day.
            + (object)
                + day: 5 (number) - 0(Monday), 1(Tuesday), 2(Wednesday) and so on.
                + workingHours (array) - Working hours of the business
                    + (object)
                        + startHour: 7:00 (string) - Start hour 9:00 (9 AM), 18:00 (6 PM)
                        + endHour: 17:30 (string) - End hour  9:00 (9 AM), 18:00 (6 PM)
                + isOpen: 1 (number) - 0 (Business closed today), 1 (open)
                + comment: By appointment only (string) - Add the special instruction.
        + specialHours (array) - Special hours of business.
            + (object)
                + specialDate: 10/20/2023 (string) - It should be "MM/DD/YYYY".
                + startHour: 7:00 (string) - Start hour 9:00 (9 AM), 18:00 (6 PM)
                + endHour: 17:30 (string) - End hour  9:00 (9 AM), 18:00 (6 PM)
                + isOpen: 1 (number) - 0(Business closed today), 1 (open)
        + businessStatus : Open (string) - It will update your business status on lisitng page and If business will choose "Temporarily closed" then Reopen date is mandatry. [Open, Temporarily closed, Permanently closed]
        + reopenDate : 10/20/2022 - Reopen date is applicable only when the status is "temporarily closed". It should be "MM/dd/yyyy" format.
        + services: Other Dental Specialties, Orthodontists, Dentistry (required,string)- Services (Comma separated list of services offered; used for SEO).
        + keywords: Dentists Atascadero CA, Other Dental Specialties Atascadero CA, Orthodontists Atascadero CA (string)- Keywords about the business. Useful in SEO. Business keyword cannot be more than 1000 characters.
        + products: Products about the business. Useful in SEO and Business products cannot be more than 1000 characters.
        + appointmentLink (string) - Let customers book appointments by redirecting them to your appointments page.
        + reservationLink (string) - Let customers reserve tables by linking them to your reservations page.
        + menuLink (string) - Show customers what you serve by linking them to your menu.
        + orderAheadLink (string) - Let customers place delivery and pick-up orders by linking them to your ordering page.
        + impressum (string) - In certain countries (like Austria, Germany and Switzerland), businesses may be required by law to include a statement of ownership on their web presence.
        + payment: Paypal, Visa, Master Card (string) - Payment Type (Max 250 character long).
        + localPhoneNumber (string)- Local phone number.
        + tollFreePhoneNumber (string) - Tollfree number.
        + androidAppURL: http://www.gmail.com (string)- Android app url.
        + iosAppURL: http://www.gmail.com (string) - IOS app url.
        + logoUrl: http://bzimages-prod.s3.amazonaws.com/669029760/Logo 180 X 121.png (string) - Logo Image. Minimum 250 x 250px. Recommended: 720 X 720 px. 10 KB min.
        + gmbLogoOptOut (number)- Update profile photo on your google my business page. (1-false,0-true).
        + fbLogoOptOut (number) - Update profile photo on your facebook profile. (1-false,0-true).
        + gmbCoverOptOut (number) - Update cover photo on your google my business page. (1-false,0-true).
        + fbCoverOptOut (number) - Update cover photo on your facebook profile. (1-false,0-true).
        + coverImageUrl: http://bzimages-prod.s3.amazonaws.com/669029760/California Foothills 951 X 351.jpg (string)- Cover image URL for business displayed on custom review site. Format: JPG, JPEG, PNG. Minimum 1110 x 374px.
        + gmbCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/abcd.jpg (string) - Google Cover Image Url.
        + facebookCover: http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/fb.jpg (string) - Facebook Cover Image Url.
        + coverBusinessInfoLayout: In grid cover image, business info overlay (string) - Show on your Birdeye profile. Possible value will be
                In grid cover image, business info overlay
                In grid cover image, business info below
                Full width cover image, business info overlay
                Full width cover image, business info below
                Google map view, business info overlay
        + covidInfo (object) - Provide covid related update in.
            + postDescription (string) - Post will be update on gmb & FB
            + covid19SupportLink (string) - Should be a valid covid19 support url
            + virtualCareLink (string) - Should be a valid url virtual care link
        + bingListing (object) - Provide bing data for listing purpose.
            + primaryCategoryBing (string) - Primary category of bing.
            + bingPhoneNumber (string) - You can provide a phone number which will be pushed only to your Bing listing site and will override the primary phone number set.
            + categories (string) - You can add up to 3 categories.
            + bingDescription (string) - Bing description cannot be more than 4096 characters.
        + internalListing (object) - Provide data for microsite listing purpose.
            + description (string) - Business description cannot be more than 5000 characters.
            + category (string) - Primary category of business.
            + subcategory (string) - You can add up to 3 subcategories.
            + displayCategory (string) - Choose one of the category either from primary category or from sub categories.
        + facebookListing (object) - Provide data for facebook listing purpose.
            + category (string) - You can add up to 3 categories.
            + facebookDescription (string) - Facebook description cannot be more than 255 characters.
            + facebookPhoneNumber (string) - Phone number for facebook profile. This phone number will override the main phone number on your Facebook business page

        + gmbListing (object) - Provide data for gmb listing purpose.
            + googleWebsiteUrl (string) - Website url will update on google listing.
            + googlePhoneNumber (string) - You can provide a phone number which will be pushed only to your google listing site and will override the primary phone number set.
            + googleStoreId (string) - Store id for google.
            + primaryCategoryGmb (string) - Primary category of google.
            + additionalCategory (string) - You can add up to 5 subcategories.
            + googleDescription (string) - Google description cannot be more than 750 characters.
            + attributes (object) - Google my business attributes are highly visible statements about your business that appear on your Google My Business listing. Supported attributes are
                    Accessibility,Amenities,Crowd,Dining options,Highlights,Planning,Offerings,Health & safety.
            + foodDelivery (string) - Enter the redirect URL where customers can place delivery orders.This field is applicable for hospitality business and is category dependent.Example http://www.ubereats.com
            + foodTakeout (string) - Enter the redirect URL where customers can place 'takeout' food orders. This field is applicable for hospitality business and is category dependent.Example : http://www.ubereats.com
        + socialProfileURLs (object) - Profile URLs for business on top rated social sites
            + facebookUrl: http://www.facebook.com/ChalkerandPetersonDental (string) - Facebook URL.
            + twitterUrl: https://twitter.com/DrsChaAndPet (string) - Business Twitter URL.
            + linkedInUrl: https://linkedin.com/DrsChaAndPet (string) - Business LinkedId URL.
            + googleUrl: https://plus.google.com/103957250846354895095/about?gl=US&hl=en-US (string)- Business Google URL.
            + youTubeUrl: https://www.youtube.com/channel/UCDNP0M75ySA5qt0So2F8Xxw (string)- Business Youtube URL.
        + isSEOEnabled: true (boolean) - Enable/Disbale search engine indexing of business profile. Valid values are "true","false". Default is "true".
        + externalReferenceId (string) - It should be a unique value for location identifier.


    + Body

            {
              "name": "Dieci Lifestyle Spa",
              "alias": "Dieci Lifestyle Spa - Livingston, NJ",
              "isAddressHidden": 0,
              "location": {
                "address1": "90 W Mount Pleasant Ave",
                "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
                "city": "Livingston",
                "state": "NJ",
                "zip": "07039",
                "countryCode": "US",
                "countryName": "United States of America",
                "lat": "37.7730319",
                "lng": "-122.3869622"
              },
              "emailId": "4568@livelovespa.com",
              "phone": "(973) 716-0101",
              "fax": "(973) 716-0102",
              "websiteUrl": "http://www.diecispa.com/",
              "establishedYear": "2012",
              "timezone": "Pacific Standard Time",
              "languages": [
                "English",
                "Spanish"
              ],
                "isServiceAreaProvider": "Yes",
                "serviceAreas": [
                {
                    "description": "400 Boston Street, Seattle, WA, 98109"
                },
                {
                    "description": "2390 Boston Street, Seattle, WA, 98109"
                }],
              "working24x7": 0,
              "hoursOfOperations": [
                {
                  "day": "0",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "1",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "2",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "3",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "4",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "5",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "6",
                  "isOpen": 0
                }
              ],
              "specialHours": [
                {
                  "specialDate": "12/31/2020",
                  "startHour": "09:00",
                  "endHour": "12:00",
                  "isOpen": 0
                },
                {
                  "specialDate": "01/01/2021",
                  "startHour": "",
                  "endHour": "",
                  "isOpen": 1
                }
              ],
              "businessStatus": "Open",
              "reopenDate": "01/01/2021",
              "services": "Beauty Salon, Hair Spa",
              "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "products": "Living Proof Dry Shampoo,Kevin Murphy Blonde Angel Wash",
              "appointmentLink": "",
              "reservationLink": "",
              "menuLink": "",
              "orderAheadLink": "",
              "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
              "impressum": "",
              "localPhoneNumber": "",
              "tollFreePhoneNumber": "",
              "androidAppURL": "",
              "iosAppURL": "",
              "logoUrl": "https://d1py4eyp5hehj0.cloudfront.net/upload/1334812/1718082646457/2816b900140211eb870e7bf4ed6bc766.png",
              "gmbLogoOptOut": 1,
              "fbLogoOptOut": 1,
              "gmbCoverOptOut": 1,
              "fbCoverOptOut": 1,
              "coverImageUrl": "https://d1py4eyp5hehj0.cloudfront.net/upload/1334812/1718082720956/GustavKlimtExpectationTreeoflifeArboldelaVidaFulfilment.jpeg",
              "gmbCover": "https://d1py4eyp5hehj0.cloudfront.net/upload/1334812/1718082807649/41cdeb014d36cb35f936152d44c4c77d.jpeg",
              "facebookCover": "https://d1py4eyp5hehj0.cloudfront.net/upload/1334812/1718082871068/IJ8Sa5.jpeg",
              "coverBusinessInfoLayout": "In grid cover image, business info overlay",
              "covidInfo": {
                "postDescription": "",
                "covid19SupportLink": "",
                "virtualCareLink": ""
              },
              "bingListing": {
                "primaryCategoryBing": "",
                "category1Bing": "",
                "category2Bing": "",
                "category3Bing": "",
                "bingDescription": "",
                "bingPhoneNumber": ""
              },
              "internalListing": {
                "description": "pecialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
                "category": "",
                "subcategory1": "",
                "subcategory2": "",
                "subcategory3": "",
                "displayCategory": ""

              },
              "facebookListing": {
                "category1Fb": "",
                "category2Fb": "",
                "category3Fb": "",
                "facebookDescription": "",
                "facebookPhoneNumber": ""
              },
              "gmbListing": {
                "googleWebsiteUrl": "",
                "googleStoreId": "",
                "primaryCategoryGmb": "",
                "additionalCategory1Gmb": "",
                "additionalCategory2Gmb": "",
                "additionalCategory3Gmb": "",
                "additionalCategory4Gmb": "",
                "additionalCategory5Gmb": "",
                "googleDescription": "",
                "googlePhoneNumber": ""
                "attributes": {
                  "Crowd": [
                    {
                      "attributeId": "welcomes_families",
                      "attributeName": "Family-friendly",
                      "value": true

                    }
                  ],
                  "Accessibility": [
                    {
                      "attributeId": "has_wheelchair_accessible_elevator",
                      "attributeName": "Wheelchair accessible elevator",
                      "value": false

                    }
                  ]
                },
                "foodDelivery":"https://www.ubereats.com",
                "foodTakeout":"https://www.ubereats.com"
              },
               "vendorListing": {
                "venderCategory": "",
                "venderSubcategory1": "",
                "venderSubcategory2": "",
                "venderSubcategory3": ""
             },
              "socialProfileURLs": {
                "googleUrl": "null",
                "facebookUrl": null,
                "twitterUrl": null,
                "linkedinUrl": null,
                "youTubeUrl": null,
                "instagramUrl": null,
                "pintrestUrl": null,
                "lendingtreeUrl": null,
                "bbbUrl": null
              },
              "isSEOEnabled": "false",
              "externalReferenceId" : ""
            }

+ Response 200 (application/json)

    + Body

            {
              "name": "Dieci Lifestyle Spa",
              "alias": "Dieci Lifestyle Spa - Livingston, NJ",
              "emailId": "4568@livelovespa.com",
              "phone": "(973) 716-0101",
              "fax": "(973) 716-0102",
              "websiteUrl": "http://www.diecispa.com/",
              "description": "Specialties\nBridal ServicesMakeup: Makeovers/Lessons/ Faux Lash applicationMassagesFacialsMicrocurrentMicrodermabrasionBody…",
              "keywords": "Hair Salons,Day Spas,Beauty Salon,Beauty Salons,Salons,Massage Therapists",
              "services": "Beauty Salon, Hair Spa",
              "logoUrl": "http://d3cnqzq0ivprch.cloudfront.net/prod/css/images/logo.jpg",
              "coverImageUrl": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/spa.jpg",
              "gmbCover": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/abcd.jpg",
              "facebookCover": "http://d3cnqzq0ivprch.cloudfront.net/common/css/images/profile/fb.jpg",
              "timezone": "Pacific Standard Time",
              "languages": [
                "English",
                "Spanish"
              ],
              "isServiceAreaProvider": "Yes",
                "serviceAreas": [
                {
                    "description": "2390 Boston Street, Seattle, WA, 98109",
                    "placeId": "ChIJ9YasdSKZs0wRSt--7QSjsd3"
                },
                {
                    "description": "400 Boston Street, Seattle, WA, 98109",
                    "placeId": "ChIJ9aasdAOKZasdaSt--7QsdLja4"
                }],
              "payment": "Visa, MasterCard, American Express, Debit Cards, Check",
              "hoursOfOperations": [
                {
                  "day": "0",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "1",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "2",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "3",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "4",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "5",
                  "isOpen": 1,
                  "workingHours": [
                    {
                      "startHour": "09:00",
                      "endHour": "13:30"
                    },
                    {
                      "startHour": "14:30",
                      "endHour": "19:00"
                    }
                  ],
                  "comment": ""
                },
                {
                  "day": "6",
                  "isOpen": 0
                }
              ],
              "working24x7": 0,
              "location": {
                "address1": "90 W Mount Pleasant Ave",
                "address2": "(btwn Preston Dr. &amp; N. Mitchell Ave.)",
                "city": "Livingston",
                "state": "NJ",
                "zip": "07039",
                "countryCode": "US",
                "countryName": "United States of America"
              },
              "categoryList": [
                "Hair Salons"
              ],
              "socialProfileURLs": {
                "googleUrl": "null",
                "facebookUrl": null,
                "twitterUrl": null,
                "linkedinUrl": null,
                "youTubeUrl": null
              }
            }

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 404

    [1175][]

+ Response 400

    [1045][]

+ Response 401

    [1047][]

+ Response 401

    [1046][]

+ Response 401

    [1055][]

+ Response 401

    [1056][]

+ Response 401

    [1069][]

+ Response 401

    [1070][]

+ Response 401

    [1190][]

+ Response 400

    [2296][]

+ Response 400

    [2297][]

+ Response 400

    [2290][]




## Delete [/v1/business/{business_Id}{?api_key}]
Delete Business API deletes an account or sub-reseller under a reseller.

### Delete Business [DELETE]


+ Parameters
    + business_Id: 12345678 (string, required) - Id of the Business.
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

+ Response 400

    [1174][]

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 404

    [1175][]




## Status Update [/v1/business/{business_id}/status{?api_key,astatus}]
Status Update Business API updates the activation status of a business. Activation status signifies whether an account is active or inactive.

### Update the status [PUT]

+ Parameters

    + business_id: 12345678 (string, required) - Business id whose status has to be changed. Returned by create business API
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.
    + astatus: inactive (string, required) - New status for the business. Valid values are "active/inactive".

+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200 (application/json)

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 404

    [1175][]

+ Response 403

    [1184][]

+ Response 400

    [1191][]


## Child Businesses [/v1/business/child/all{?api_key,pid}]
Child Businesses API gets all the businesses under an account.

### Get Child Businesses [GET]


+ Parameters

    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.
    + pid:  12345678 (number, required) - Reseller/Sub-reseller/Enterprise Id.

+ Request (application/json)

    + Headers

            Accept: application/json


+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + id: 123456 (number) - Id of the Business
            + name: Drs. Chalker and Peterson, A Dental Partnership (string) - Name of the Business/Product (Max 1000 character long).
            + alias: Drs. Chalker (string) - Alias, Your internal way of identifying this location.
            + phone (string) - Business Phone (Required) Format is (xxx) xxx-xxxx.
            + address (object) - Business address
                + address1: 7405 Morro Rd (string) - Address of the business.
                + address2: Suite 102 (string) - Address of the business.
                + city: Atascadero (string) - City (Max 1000 character long).
                + state: CA (string) - State (2 character state code).
                + countryCode: US (string) - Country Code (2 character country code).
                + zip: 93422 (required,string) - Zip Code.
            + status: demo (string) - Business status. Valid values are demo, active, inactive. Default is
            + type:Business (string)- Business type. Valid values are "Business, Enterprise-Location, Enterprise-Product, Reseller or a existing custom hierarchy type". Default is:
            + createdOn: Dec 05, 2013 (string) - Business singup date.
            + childCount: 3 (number) - Child account count. note: applicable only for Reseller, Enterprise-Location, Enterprise-Product.


    + Body

            [{
                "id": 986031488,
                "name": "Central Ohio Endodontics",
                "alias": "Central Ohio Endodontics - Dublin, OH",
                "address": {
                    "address1": "5152 Blazer Memorial Pkwy",
                    "address2": "Ste 102",
                    "city": "Dublin",
                    "state": "OH",
                    "zip": "43017",
                    "countryCode": "US",
                    "countryName": "United States of America"
                },
                "phone": "(614) 896-2801",
                "type": "Business",
                "status": "active",
                "createdOn": "Dec 04, 2013"
            },
            {
                "id": 768996864,
                "name": "Environmental Pest Management",
                "alias": "Environmental Pest Management - Westerville, OH",
                "address": {
                    "address1": "200 Hoff Rd",
                    "address2": "Unit P",
                    "city": "Westerville",
                    "state": "OH",
                    "zip": "43082",
                    "countryCode": "US",
                    "countryName": "United States of America"
                },
                "phone": "(614) 771-8605",
                "type": "Business",
                "status": "active",
                "createdOn": "Dec 05, 2013"
            },
            {
                "id": 144670708364016,
                "name": "Sub-reseller",
                "alias": "Sub-reseller",
                "status": "active",
                "createdOn": "Nov 05, 2013",
                "type": "Reseller",
                "childCount": 1
            },
            {
                "id": 144670708364322,
                "name": "Holiday Inn",
                "alias": "Holiday Inn",
                "status": "active",
                "createdOn": "Nov 01, 2013",
                "type": "Enterprise-Location",
                "childCount": 2
            }]




## Public profile tabs [/v1/business/tabs{?api_key,businessId}]
Public profile tabs API saves information on business profile tabs.

### Update public profile of Businesses [POST]


+ Parameters
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.
    + businessId: 12345678 (string, required) - Id of the Business.

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes (object)
        + profileTabs (array)
            + (object)
                + tabType: Map (string, required) - Valid values are "Reviews", "Feedback", "FAQ", "Aboutus", "Map", "Appointment" or "BusinessOwner".
                + label: map location (string) - Name on the tab. Max length 30 character.
                + showOnProfile: 1 (number, required) - Show on profile Valid values "0" or "1".
                + showOnWebsite: 0 (number, required) - Show on website Valid values "0" or "1".
                + showOnFacebook: 1 (number, required) - Show on Facebook Valid values "0" or "1".
                + url (string) - Valid url for tab.

    + Body

            {
                "profileTabs":
                [{
                    "tabType": "map",
                    "label": "map location",
                    "showOnProfile": 0,
                    "showOnWebsite": 1,
                    "showOnFacebook": 1,
                    "url": "http://www.mapurl.com"
                },
                {
                    "tabType": "Feedback",
                    "label": "Feedback",
                    "showOnProfile": 0,
                    "showOnWebsite": 1,
                    "showOnFacebook": 1,
                    "url": "http://www.feedback.com"
                }]
            }



+ Response 200 (application/json)


+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 404

    [1175][]

+ Response 403

    [1184][]

+ Response 400

    [1191][]


## Get Hierarchy [/v1/business/{businessId}/hierarchy{?api_key}]
Get Hierarchy API gets business hierarchy. Hierarchical information contains the parent-child relationship information
between businesses.

### Get hierarchy for an enterprise [GET]

+ Parameters

    + businessId: 12345678 (string, required) - Id of the Business.
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.


+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

            {
                "id": 143424324234234,
                "name": "Psychiatry",
                "alias": null,
                "address": null,
                "phone": null,
                "status": "active",
                "createdOn": "Sep 03, 2016",
                "type": "Department",
                "websiteUrl": null,
                "child": [{
                    "id": 147293020095434,
                    "name": "Addiction Psychiatry",
                    "alias": null,
                    "address": null,
                    "phone": null,
                    "status": "active",
                    "createdOn": "Sep 03, 2016",
                    "type": "Specialty",
                    "websiteUrl": null,
                    "child": [{
                        "id": 147293022348715,
                        "name": "NYC Center for Treatment and Research",
                        "alias": null,
                        "address": null,
                        "phone": null,
                        "status": "active",
                        "createdOn": "Sep 03, 2016",
                        "type": "Practice",
                        "websiteUrl": null,
                        "child": [{
                            "id": 1467324432430144,
                            "name": "Anna B. B., M.D",
                            "alias": "Anna B. B., M.D",
                            "address": {
                                "address1": "NYC Center for Treatment and Research",
                                "address2": "561 West 35th Street, 11th Floor",
                                "city": "New York",
                                "state": "NY",
                                "zip": "10036",
                                "countryCode": "US",
                                "countryName": "United States of America"
                            },
                            "phone": "646-xxx-xxxx ",
                            "status": "active",
                            "createdOn": "Jun 30, 2016",
                            "type": "Physician",
                            "websiteUrl": "https://google.org/abbnyc",
                            "child": []
                        }]
                    }]
                }],
                "parents": [{
                    "id": 148189355091299,
                    "name": "Neurology",
                    "alias": null,
                    "address": null,
                    "phone": null,
                    "status": "active",
                    "createdOn": "Dec 16, 2016",
                    "type": "Specialty",
                    "websiteUrl": null,
                    "tags": null,
                    "child": [],
                    "parents": []
                }]
            }


+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]


## Update Hierarchy [/v1/business/business-hierarchy/location/update-mapping/{businessId}{?api_key}]
The Update Hierarchy API maps the hierarchical level to its corresponding level value for a given location. This API is used to update the hierarchical structure of locations, ensuring that each location is correctly placed within the hierarchy based on its level and value. It is important to avoid overwriting existing data by passing all values accurately.


### Update Hierarchy [POST]

+ Parameters

    + businessId: 12345678 (string, required) - Id of the Business.
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.

+ Request (application/json)


    + Headers

            Accept: application/json

   + Attributes
        + Level - It will be a key-value pair for each level with its corresponding level value.
            

    + Body

            {
              "Division": "Division 3",
              "Region": "Region 3",
              "RD": "Richard Steves",
              "Department": "Store 3"
            }



+ Response 200 (application/json)

+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]


+ Response 401

    [1011][]



## Get Custom card details [/v1/business/{businessNumber}/profile/customcard]
Get Customer card API returns the detail of customer card of the location

### Get Custom card details [GET]

+ Parameters
    + businessNumber (number, required) - Id of a business (Long).

+ Request (application/json)

    + Headers

            Accept: application/json
            api_key: [Required] Partner specific API key provided by Birdeye for data exchange.



+ Response 200 (application/json)


    + Attributes
        + customCardDetails (array)
            + (object)
                + cardId: 123456 (number) - Id of the Card
                + title: Steve Smith (string) - Name of the card.
                + description: Business Information (string) - Information of the business on the card.
                + imageURL: https://d2xt3xymj142xp.cloudfront.net/63936/fileUpload/936_16768607_FRetIc.jpeg (string) - Image URL
                + imagePosition: 2 (string) - Image position value. Possible values are:
                        1 - image is placed at top,
                        2 - image is placed at left,
                        3 - image is placed at right
                + isVisible: 1 (number) - Visibility status of card on the microsite. Possible values are:
                        0 - card will not be visible on the microsite,
                        1 - card will be visible on the microsite
                + clickURL: https://www.abcdef.com (string) - Redirect link for a particular website.

    + Body

            {
                "customCardDetails": [
                    {
                        "cardId": 5531,
                        "title": "Mathew",
                        "description": "Card description",
                        "imageURL": "https://d2xt3xymj142xp.cloudfront.net/63936/fileUpload/936_16768607_FRetIc.jpeg",
                        "imagePosition": "2",
                        "isVisible": 1,
                        "clickURL": "https://www.abcdef.com"
                    },
                    {
                        "cardId": 5533,
                        "title": "Steve Smith",
                        "description": "Card description",
                        "imageURL": "https://d2xt3xymj142xp.cloudfront.net/63936/fileUpload/63676550205863_FRetIc.jpeg",
                        "imagePosition": "1",
                        "isVisible": 0,
                        "clickURL": "http://www.abcdef.com"
                    }
                ]
            }


+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1167][]

+ Response 401

    [1011][]


## Get Timezone List [/v1/business/{businessNumber}/timezones]
Get Timezone List API fetches the list of all available timezones.

### Get Timezone List [GET]

+ Parameters
    + businessNumber (number, required) - Id of a business (Long).

+ Request (application/json)

    + Headers

            Accept: application/json
            api_key: [Required] Partner specific API key provided by Birdeye for data exchange.



+ Response 200 (application/json)


    + Attributes
        + timezones (array)
            + (object)
                + value: 123456 (number) - The timezone value.
                + label: Steve Smith (string) - The timezone label.


    + Body

            {
                "timezones": [
                    {
                        "value": "Etc/GMT+12",
                        "label": "(GMT-12:00) Etc/GMT+12"
                    },
                    {
                        "value": "Pacific/Pago_Pago",
                        "label": "(GMT-11:00) Pacific/Pago_Pago"
                    },
                    {
                        "value": "Pacific/Samoa",
                        "label": "(GMT-11:00) Pacific/Samoa"
                    },
                    {
                        "value": "Pacific/Niue",
                        "label": "(GMT-11:00) Pacific/Niue"
                    }
             ]
            }



+ Response 401

    [1161][]

+ Response 429

    [89][]

+ Response 401

    [1011][]

## Get Birdeye Impressions [/v1/business/{businessNumber}/birdeye/impressions]
Returns only birdeye (source: website) impressions by location as well as total.

### Get Birdeye Impressions [POST]

+ Parameters

    + businessNumber: 169744180007807 (string, required) - Account Business Number.


+ Request (application/json)

    + Headers

            Accept: application/json
            api_key: - Partner specific API key provided by Birdeye for data exchange.

    + Attributes
         + businessNumbers: 169744180007807 (required,string)- list of the unique business ids associated with a business eg: [123456789, 987656789]
         + startDate: 2020-11-10 (required,string)-yyyy-MM-dd eg: "2020-11-10"
         + endDate: 2020-11-10 (required,string)-yyyy-MM-dd eg: "2020-11-10"
         + limit: 25 (number) - page size. default: 25
         + startIndex: 0 (number)- default: 0
         + sortby: 25 (string) - "location" or "total" default: total.
         + order: asc (string) - "asc" or "desc" default: desc

    + Body

            {
                "businessNumbers": [147286063579104,147286063579108],
                "startDate": "2022-11-23",
                "endDate": "2023-11-23",
                "limit": 5,
                "order": "desc",
                "sortby": "location",
                "startIndex": 0
            }



+ Response 200


    + Body

            {
                  "total": 300178,
                  "locations": [
                    {
                      "locationName": "Natick House of Prom",
                      "count": "87"
                    },
                    {
                      "locationName": "Kansas City House of Prom",
                      "count": "265"
                    },
                    {
                      "locationName": "Glendale House of Prom House of Prom",
                      "count": "158"
                    },
                    {
                      "locationName": "Fairfax House of Prom",
                      "count": "355"
                    },
                    {
                      "locationName": "David's Bridal - Corporate Office",
                      "count": "2546"
                    }
                  ]
            }

+ Response 401

    [1161][]

+ Response 2292

    [2292][]

+ Response 2293

    [2293][]

+ Response 401

    [1167][]



# Group User
Add, delete and manage user profiles and permissions easily.

## Signup [/v1/user/signup{?bid,api_key}]
Create User API creates a new user for a business.

+ Parameters
    + api_key: 2uiHKCTi8hSg35MG75aaot0B2SAokhjk (string, required) - Partner specific API key provided by Birdeye for data exchange.
    + bid: 12345678 (string, required) - Id of the Business.

### Create User [POST]

+ Request (application/json)

    + Headers

            Accept: application/json


    + Attributes (object)

        + firstName: Rhonda (string) - First name of the user.
        + lastName: Spears (string) - Last name of the user.
        + userEmailId: rhonda@test.com (string, required) - Email Id of the user that’s being added to this business.
        + phone: 123-456-7890 (string) - Mobile number of the user.
[...]
